.AltanEquipmentMap{
  border: 1px solid black;
  width: 100%;
  height: 100%;
  background: rgb(210,224,224);
  background: -moz-radial-gradient(circle, rgba(210,224,224,1) 0%, rgba(138,229,232,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(210,224,224,1) 0%, rgba(138,229,232,1) 100%);
  background: radial-gradient(circle, rgba(210,224,224,1) 0%, rgba(138,229,232,1) 100%);
  position: relative;
  overflow: auto;
  overflow-x: hidden;
}
.altanEquipTitle{
  text-align: center;
  font-size: 30px;
  font-family: 'Chelsea Market', cursive;
  -webkit-text-stroke: 1px black;
  stroke: 1px black;
  background: rgb(207,217,230);
  background: -moz-linear-gradient(124deg, rgba(207,217,230,1) 0%, rgba(177,194,214,1) 13%, rgba(179,201,230,1) 45%, rgba(150,176,209,1) 71%, rgba(158,191,235,1) 100%);
  background: -webkit-linear-gradient(124deg, rgba(207,217,230,1) 0%, rgba(177,194,214,1) 13%, rgba(179,201,230,1) 45%, rgba(150,176,209,1) 71%, rgba(158,191,235,1) 100%);
  background: linear-gradient(124deg, rgba(207,217,230,1) 0%, rgba(177,194,214,1) 13%, rgba(179,201,230,1) 45%, rgba(150,176,209,1) 71%, rgba(158,191,235,1) 100%);
  padding-bottom: 5px;
  border-bottom: 1px solid black;
  position: sticky;
  top:0;
  z-index: 5;
}

.equipBox{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 35px;
}

.descriptBox{
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.ImgStandEquip{
  width:300px;
  cursor: pointer;
}

.equipDescript{
  width:50%;
  margin: 30px 0 30px;
}

.equipWording{
  width:100px;
  margin-right: 5px;
}

.altanEquipmentButtonFix{
  height: 35px;
}

.adjImgCenterBox{
  position: relative;
  width: 100%;
  height: 100%;
}

.adjImgCenter{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.equipBackPosition{
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  position: fixed;  
  top:calc(75vh - 3rem - 29px);
}

.equipBackButtonPosition{
  width:calc(80% - 3px) !important;
  margin: 0px !important;
}

.altanEquipmentGearButton{
  font-size: 20px;
  color: rgb(26, 26, 26);
  background: linear-gradient(135deg, rgba(220,220,220,1) 0%, rgb(153, 177, 229) 50%, rgb(173, 183, 206) 100%);
  border-radius: 5px;
  text-shadow: 2px 2px 4px #536481;
  cursor: pointer;
  position: relative;
  font-family: 'Balsamiq Sans', cursive;
  width: 75%;
}

.altanEquipmentGearButton:hover{
  text-shadow: 1px 1px 1px #657c9c;
}

.altanEquipmentGearButton::before{
  position: absolute;
  top: 50%;
  left: 5px;
  width: 100%;
  height: 0px;
  border-top: 7px solid transparent;  
  border-bottom: 7px solid transparent;
  border-left: 10px solid #764abc;
  content: '';
  transition: all 0.1s;
  transform: translate3d(0,-50%,0) scale3d(0,0,1);
  opacity: 0;
}

.altanEquipmentGearButton:hover::before{
  transform: translate3d(0,-50%,0) scale3d(1,1,1);
  opacity: 1;
}

.displayNone{
  display:none;
}

@media (max-width: 1199px){
  .adjImgCenter{
    font-size: 16px;
  }
  .equipWording{
    font-size: 17px;
  }
}

@media (max-width: 1023px){
  .ImgStandEquip{
    width:170px;
  }
  .equipWording{
    font-size: 12px;
    width:70px;
  }
  .adjImgCenter{
    font-size: 13px;
  }
}

@media (max-width: 767px){
  .equipBox{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .equipDescript{
    width: 100%;
    padding: 0 20px 0;
    margin: auto;
  }
}
@media (max-width: 467px){
  .equipWording{
    display: none;
  }
  .altanEquipmentGearButton{
    width: 100%;
  }
  .altanEquipTitle{
    font-size: 20px;
  }
  .ImgStandEquip{
    width:200px;
  }
}