.wordCenter{
  text-align: center;
}

.disFlex{
  display: flex;
}

.storyMapScreen{
  height: calc(75vh - 3rem);
  display: flex;
}


.storyChat{
  height: 25vh;
}

.battleScreen{
  width:80%;
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.StoryHUD{
  width:20%;
  border: 1px solid black;
}

.imgFlip{
  transform: scaleX(-1);
  height: 50px;
}
.imgFlipRocker{
  height: 150px;
  width: 80px;
}

.onHitAnimate{
  animation-name: OnHit;
  animation-duration: 1.0s;
}

@keyframes OnHit {
0%{ opacity: 1;}
20%{ opacity: 0;}
30%{opacity: 1;}
50%{ opacity: 0; }
60%{opacity: 1;}
100%{opacity: 1;}
}

.userSkillBox{
  display: flex;
  flex-direction: column;
}

.HUDBox{
  display: flex;
  align-items: center;
}

.BarBasicHUD{
	height: 10px;
  border: 1px solid black;
  background-color: #E2E9E3;
  border-radius: 12px;
  width: 130px;
}

.expBarBasicHUD{
  height: 8px;
  width: 90%;
  border-radius: 0px;
  margin: 0 5% 0;
}

.clockBarBasicHUD{
  border-radius: 5px;
}

.basicStatsHUD{
  background-color: #A6C1E4;
  border: 1px solid #6983A8;
}

.leveltextHUD{
  background-color: #E8E5F1;
  border-radius: 5px;
  margin: 10px 0 10px;
  padding: 3px 0 3px;
}

.greenHP,
.redHP,
.yellowHP,
.blueSP,
.purpleHP{
	height: 5px;
  border: 1px solid black;
  background-color: #463C57;
  display: block;
}
progress.greenHP::-webkit-progress-bar,
progress.redHP::-webkit-progress-bar,
progress.yellowHP::-webkit-progress-bar,
progress.blueSP::-webkit-progress-bar,
progress.purpleHP::-webkit-progress-bar{  
	background-color: #463C57;
}
progress.BarBasicHUD::-webkit-progress-bar{
  background-color: #FEFEFF;
  border-radius: 12px;
}

/* Unfortunately, It doesn't work if I combine them together (nice in CSS) */
.greenHP::-webkit-progress-value{
	background-color: rgb(56, 219, 92)
}
.greenHP::-moz-progress-bar{  
	background-color: rgb(56, 219, 92)
}
.yellowHP::-webkit-progress-value{  
	background-color: #B6B72A
}
.yellowHP::-moz-progress-bar{  
	background-color: #B6B72A
}
.redHP::-webkit-progress-value{  
	background-color: #B91514
}
.redHP::-moz-progress-bar{  
	background-color: #B91514
}
.purpleHP::-webkit-progress-value{  
	background-color: #DD13F3
}
.purpleHP::-moz-progress-bar{  
	background-color: #DD13F3
}
.blueSP::-webkit-progress-value{  
	background-color: #1D5DE7
}
.blueSP::-moz-progress-bar{  
	background-color: #1D5DE7
}

.BarBasicHUD::-webkit-progress-value{
  background-color:#CBDAF9;
  border-radius: 12px;
  background: linear-gradient(145deg, #b7c4e0, #cce1ff);
  box-shadow:  10px 10px 80px #adb9d4,
             -10px -10px 60px #c2d4ed;
}
.BarBasicHUD::-moz-progress-bar{
  background-color:#CBDAF9;
  border-radius: 12px;
  background: linear-gradient(145deg, #b7c4e0, #cce1ff);
  box-shadow:  10px 10px 80px #adb9d4,
             -10px -10px 80px #c2d4ed;
}
.expBarBasicHUD::-webkit-progress-value{
  background-color:#6587BE;
  border-radius: 0px;
  background: #6587BE;
  box-shadow: none;
}
.expBarBasicHUD::-moz-progress-bar{
  background-color:#6587BE;
  border-radius: 0px;
  background: #6587BE;
  box-shadow: none;
}
.clockBarBasicHUD::-webkit-progress-value{
  border-radius: 5px;
  background: #6587BE;
  box-shadow: none;
}
.clockBarBasicHUD::-moz-progress-bar{
  border-radius: 5px;
  background: #6587BE;
  box-shadow: none;
}

.nameStatsHUD{
  font-size: 20px;
}
.destextHUD{
  margin: 0 10px 0;
}
.hptextHUD,
.sptextHUD,
.hpPerHUD,
.spPerHUD{
  margin: 0 5px 0;
}

.zenytextHUD{
  text-align: right;
  padding: 0 5px 0;
  border-bottom: 1px solid black;
}

.hptextHUD,
.sptextHUD{
  width: 21px;
}

.altanImg{
  height: 180px;
}

.enemyBox{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.clockHUD{
  text-align: left;
}

@media (max-width: 1199px){
  .BarBasicHUD{
    width: 100px;
  }
  .expBarBasicHUD{
    width: 80%;
  }
}

@media (max-width: 1023px){
  .BarBasicHUD{
    width: 50px;
  }
  .expBarBasicHUD{
    width: 80%;
  }

}
@media (max-width: 767px){
  .hptextHUD,
  .sptextHUD,
  .hpPerHUD,
  .spPerHUD,
  .classTitle,
  .clockName{
    display: none;
  }
  .BarBasicHUD{
    width: 70px;
    margin: 0 5px 5px;
  }
  .HUDBox{
    justify-content: center;
  }
  .leveltext{
    font-size: 14px;
  }
  .clockTitle{
    font-size: 13px;
  }
  .greenHP,
  .redHP,
  .yellowHP,
  .blueSP,
  .purpleHP{
    width: 85%;
  }
}
@media (max-width: 467px){
  .BarBasicHUD{
    width: 50px;
  }
  .expBarBasicHUD{
    margin: 0;
  }
  .nameStatsHUD,
  .zenytextHUD{
    margin: 0;
    text-align: center;
  }
  .basicStatsHUD{
    font-size: 12px;
  }
  .clockTitle{
    display: none;
  }
  .clockBarBasicHUD{
    margin: 5px 0 0;
  }
  .userSkillBox{
    font-size: 14px;
  }
  .altanImg{
    height: 120px;
  }
  .imgFlip{
    height: 35px;
  }
  .imgFlipRocker{
    height: 100px;
    width: 53px;
  }
  .leveltextHUD{
    text-align: center;
  }

}