.storyScreen,
.storyChat{
  text-align: center;
}

.storyMapScreen{
  height: calc(75vh - 3rem);
  display: flex;
}


.storyChat{
  height: 25vh;
}

.battleScreen{
  width:80%;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

}

.StoryHUD{
  width:20%;
  border: 1px solid black;
}

.imgFlip{
  transform: scaleX(-1);
}

.onHitAnimate{
  animation-name: OnHit;
  animation-duration: 1.0s;
}

@keyframes OnHit {
0%{ opacity: 1;}
20%{ opacity: 0;}
30%{opacity: 1;}
50%{ opacity: 0; }
60%{opacity: 1;}
100%{opacity: 1;}
}

.userSkillBox{
  border: 1px soilid black;
}

progress {
	height: 5px;
  border: 1px solid black;
  background-color: #463C57;
}
progress::-webkit-progress-bar {  
	background-color: #463C57;
} 
.greenHP::-webkit-progress-value,
.greenHP::-moz-progress-bar{  
	background-color: #10EF21
}
.yellowHP::-webkit-progress-value,
.yellowHP::-moz-progress-bar{  
	background-color: #B6B72A
}

.redHP::-webkit-progress-value,
.redHP::-moz-progress-bar{  
	background-color: #B91514
}

.purpleHP::-webkit-progress-value,
.purpleHP::-moz-progress-bar{  
	background-color: #DD13F3
}
.blueSP::-webkit-progress-value,
.blueSP::-moz-progress-bar{  
	background-color: #1D5DE7
}

