.wordCenter{
  text-align: center;
}

.storyMapScreen{
  height: calc(75vh - 3rem);
  display: flex;
}

.storyChat{
  height: 25vh;
  overflow: auto;
  background-color: rgb(0,0,0,0.8);
  color:yellow
}


.battleScreenBase{
  width:80%;
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: url('../img/Background/Grass7.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.battleScreenPayonCave{
  background-image: url('../img/Background/Cave8.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.titleName{
  -webkit-text-stroke: 0.2px black;
  stroke: 0.2px black;
  color: white;
}


.StoryHUD{
  width:20%;
  border: 1px solid black;
  background: rgb(220,220,220);
  background: -moz-linear-gradient(142deg, rgba(220,220,220,1) 0%, rgba(186,219,225,1) 75%, rgba(155,218,230,1) 87%, rgba(119,216,236,1) 96%, rgba(0,212,255,1) 100%);
  background: -webkit-linear-gradient(142deg, rgba(220,220,220,1) 0%, rgba(186,219,225,1) 75%, rgba(155,218,230,1) 87%, rgba(119,216,236,1) 96%, rgba(0,212,255,1) 100%);
  background: linear-gradient(142deg, rgba(220,220,220,1) 0%, rgba(186,219,225,1) 75%, rgba(155,218,230,1) 87%, rgba(119,216,236,1) 96%, rgba(0,212,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dcdcdc",endColorstr="#00d4ff",GradientType=1);
}

.imgFlip{
  transform: scaleX(-1);
  height: 50px;
}
.imgFlipTwo{
  transform: scaleX(-1);
  height: auto;  
}
.imgFlipThree{
  transform: scaleX(-1);
  height: auto;  
  filter: invert(0%) sepia(13%) saturate(341%) hue-rotate(243deg) brightness(82%) contrast(87%);
}
.onHitAnimate{
  animation-name: OnHit;
  animation-duration: 1.0s;
}

@keyframes OnHit {
0%{ opacity: 1;}
20%{ opacity: 0;}
30%{opacity: 1;}
50%{ opacity: 0; }
60%{opacity: 1;}
100%{opacity: 1;}
}

.userSkillBox{
  display: flex;
  flex-direction: column;
}

.HUDBox{
  display: flex;
  align-items: center;
}

.BarBasicHUD{
	height: 10px;
  border: 1px solid black;
  background-color: #E2E9E3;
  border-radius: 12px;
  width: 130px;
}

.expBarBasicHUD{
  height: 8px;
  width: 90%;
  border-radius: 0px;
  margin: 0 5% 0;
}

.clockBarBasicHUD{
  border-radius: 5px;
}

.basicStatsHUD{
  background-color: #A6C1E4;
  border: 1px solid #6983A8;
}

.leveltextHUD{
  border-radius: 5px;
  margin: 10px 0 10px;
  padding: 3px 0 3px;
}
.UserImageBox,
.EnemyImageBox{
  position: relative;
}
.greenHP,
.redHP,
.yellowHP,
.blueSP,
.purpleHP{
	height: 6px;
  border: 1px solid black;
  background-color: #463C57;
  display: block;
  width:80%;
}
.greenHP,
.redHP,
.yellowHP{
  position: absolute;
  top:150px;
  left:50%;
  transform: translate3d(-50%,0,0);
}
.blueSP{
  position: absolute;
  top:156px;
  left:50%;
  transform: translate3d(-50%,0,0);
}
.userNamePosition{
  position: absolute;
  top:162px;
  left:50%;
  transform: translate3d(-50%,0,0);
}
progress.greenHP::-webkit-progress-bar,
progress.redHP::-webkit-progress-bar,
progress.yellowHP::-webkit-progress-bar,
progress.blueSP::-webkit-progress-bar,
progress.purpleHP::-webkit-progress-bar{  
	background-color: #463C57;
}
progress.BarBasicHUD::-webkit-progress-bar{
  background-color: #FEFEFF;
  border-radius: 12px;
}

/* Unfortunately, It doesn't work if I combine them together (nice in CSS) */
.greenHP::-webkit-progress-value{
	background-color: rgb(56, 219, 92)
}
.greenHP::-moz-progress-bar{  
	background-color: rgb(56, 219, 92)
}
.yellowHP::-webkit-progress-value{  
	background-color: #B6B72A
}
.yellowHP::-moz-progress-bar{  
	background-color: #B6B72A
}
.redHP::-webkit-progress-value{  
	background-color: #B91514
}
.redHP::-moz-progress-bar{  
	background-color: #B91514
}
.purpleHP::-webkit-progress-value{  
	background-color: #DD13F3
}
.purpleHP::-moz-progress-bar{  
	background-color: #DD13F3
}
.blueSP::-webkit-progress-value{  
	background-color: #1D5DE7
}
.blueSP::-moz-progress-bar{  
	background-color: #1D5DE7
}

.BarBasicHUD::-webkit-progress-value{
  background-color:#CBDAF9;
  border-radius: 12px;
  background: linear-gradient(145deg, #b7c4e0, #cce1ff);
  box-shadow:  10px 10px 80px #adb9d4,
             -10px -10px 60px #c2d4ed;
}
.BarBasicHUD::-moz-progress-bar{
  background-color:#CBDAF9;
  border-radius: 12px;
  background: linear-gradient(145deg, #b7c4e0, #cce1ff);
  box-shadow:  10px 10px 80px #adb9d4,
             -10px -10px 80px #c2d4ed;
}
.expBarBasicHUD::-webkit-progress-value{
  background-color:#6587BE;
  border-radius: 0px;
  background: #6587BE;
  box-shadow: none;
}
.expBarBasicHUD::-moz-progress-bar{
  background-color:#6587BE;
  border-radius: 0px;
  background: #6587BE;
  box-shadow: none;
}
.clockBarBasicHUD::-webkit-progress-value{
  border-radius: 5px;
  background: #6587BE;
  box-shadow: none;
}
.clockBarBasicHUD::-moz-progress-bar{
  border-radius: 5px;
  background: #6587BE;
  box-shadow: none;
}

.nameStatsHUD{
  font-size: 20px;
}
.destextHUD{
  margin: 0 10px 0;
}
.hptextHUD,
.sptextHUD,
.hpPerHUD,
.spPerHUD{
  margin: 0 5px 0;
}

.zenytextHUD{
  text-align: right;
  padding: 0 5px 0;
  border-bottom: 1px solid black;
}

.hptextHUD,
.sptextHUD{
  width: 21px;
}

.altanImg{
  height: 180px;
}

.AtlanQuicken{
  -webkit-filter: grayscale(100%) brightness(120%) sepia(90%) hue-rotate(5deg) saturate(500%) contrast(0.7);
  filter: grayscale(100%) brightness(120%) sepia(90%) hue-rotate(5deg) saturate(500%) contrast(0.7);
}

.enemyBox{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 160px;
}

.clockHUD{
  text-align: left;
}


/* Story HUD Button */
.goGoButtonSkills,
.goGoButton{
  position: relative;
  height:35px;
  background-color: #A6C1E4;
  color:#363f4b;
  transition: color 0.07s ease-in-out;
  font-family: 'Balsamiq Sans', cursive;

}
.goGoButton:hover,
.goGoButtonSkills:hover{
  background-color: #363f4b;
  color:#A6C1E4;
  transition: color 0.07s ease-in-out;
}

.goGoButtonSkills:hover p{
  opacity: 0;
}
.goGoButtonSkills:hover span{
  opacity: 1;
}
.goGoButtonFig{
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
}
.goGoButton::before,
.goGoButtonSkills::before{
  left:0;
  right: 90%;
  bottom: 0;
  background-color: #363f4b;
  height:1px;
  position: absolute;
  content: '';
  z-index: 2;
  transition: right 0.35s ease-out;
}
.goGoButton:hover::before,
.goGoButtonSkills:hover::before{
  z-index: -1;
  right: 0;
  transition: right 0.35s ease-out;
}
.goGoButton::after,
.goGoButtonSkills::after{
  left:0;
  bottom: 0;
  right: 100%;
  background-color: #A6C1E4;
  height:1px;
  position: absolute;
  content: '';
  transition: right 0.35s ease-out;
}
.goGoButton:hover::after,
.goGoButtonSkills:hover::after{
  right: 0;
  transition: right 0.35s ease-out;
}

.goGoButtonName{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
  transform-origin: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.goGoButtonSkillBash{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
  transform-origin: 50%;
  opacity: 0;
  transition: all 0.1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.insufficentSP{
  color: rgb(202, 14, 14)
}

.ReturnCheckPoint{
  font-size: 20px;
  color: rgb(26, 26, 26);
  background: linear-gradient(135deg, rgba(220,220,220,1) 0%, rgb(149, 216, 210) 100%);
  border-radius: 5px;
  text-shadow: 2px 2px 4px #536481;
  width:50%;
  cursor: pointer;
  position: relative;
  font-family: 'Balsamiq Sans', cursive;
  width: 80%;
  margin: 10px 0 10px;
}

.ReturnCheckPointPayonCave{
  background: linear-gradient(135deg, rgba(220,220,220,1) 0%, rgb(202, 144, 216) 100%);
}

.ReturnCheckGeffenDungeon{
  background: linear-gradient(135deg, rgba(220,220,220,1) 0%, rgb(216, 211, 144) 100%);
}

.ReturnCheckPoint:hover{
  text-shadow: 1px 1px 1px #657c9c;
}

.ReturnCheckPoint::before{
  position: absolute;
  top: 50%;
  left: 5px;
  /* Change 0px */
  width: 100%;
  height: 0px;
  border-top: 7px solid transparent;  
  border-bottom: 7px solid transparent;
  border-left: 10px solid #764abc;
  content: '';
  transition: all 0.1s;
  transform: translate3d(0,-50%,0) scale3d(0,0,1);
  opacity: 0;
}

.ReturnCheckPoint:hover::before{
  transform: translate3d(0,-50%,0) scale3d(1,1,1);
  opacity: 1;
}

.DamageResultNumberHide{
  display: none;
}

.DamageResultNumber,
.DamageResultNumberUser,
.DamageResultNumberCrit,
.DamageResultNumberCritUser,
.HealResultNumberUser,
.HealSPResultNumberUser{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate3d(0,-50%,0) scale3d(1,1,1);
  color:white;
  -webkit-text-stroke: 0.5px black;
  stroke: 0.5px black;
  font-size:20px;
  z-index: 999;
  animation:
  x1 1s linear,
  y1 1s cubic-bezier(0,1000,1,1000) ;
}
.DamageResultNumberCrit,
.DamageResultNumberCritUser{
  color:yellow;
  animation:
  x2 1s linear,
  y1 1s cubic-bezier(0,1000,1,1000) ;
}

.DamageResultNumberUser{
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0) scale3d(1,1,1);
  animation:
  x3 1.05s linear,
  y1 1.05s cubic-bezier(0,700,1,700);
}
.DamageResultNumberCritUser{
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0) scale3d(1,1,1);
  animation:
  x4 1.05s linear,
  y1 1.05s cubic-bezier(0,700,1,700);
}

.HealResultNumberUser,
.HealSPResultNumberUser{
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0) scale3d(1,1,1);
  color:#3fff00;
  animation:
  y1 1.05s cubic-bezier(0,400,1,400);
}

.HealSPResultNumberUser{
  color:#1D5DE7;
}

@keyframes x1 { 
  to {left:calc(100% - 100px)}
  0%{transform: scale(1.3)}
  75%{opacity: 1;}
  100%{opacity: 0; transform: scale(1)}}
@keyframes x2 { 
  to {left:calc(100% - 100px)}
  0%{transform: scale(1.4)}
  75%{opacity: 1;}
  100%{opacity: 0; transform: scale(1)}}
@keyframes x3 { 
  to {left:calc(100% + 20px)}
  0%{transform: scale(1.3)}
  75%{opacity: 1;}
  100%{opacity: 0; transform: scale(1)}}
@keyframes x4 { 
  to {left:calc(100% + 20px)}
  0%{transform: scale(1.4)} 
  75%{opacity: 1;}
  100%{opacity: 0; transform: scale(1)}}
@keyframes y1 {to {top:49.9%}}

.battleScreenShake{
  animation: shake 0.2s;
}
.battleScreenShakeMore{
  animation: shakeMore 0.3s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) }
  10% { transform: translate(-1px, 0px) }
  20% { transform: translate(-1px, 0px) }
  30% { transform: translate(1px, -1px) }
  40% { transform: translate(1px, -1px) }
  50% { transform: translate(-1px, 1px) }
  60% { transform: translate(-1px, 1px) }
  70% { transform: translate(1px, 0px) }
  80% { transform: translate(-1px, 0px) }
  90% { transform: translate(1px, -1px) }
  100% { transform: translate(1px, 0px) }
}

@keyframes shakeMore {
  0% { transform: translate(8px, 1px) }
  10% { transform: translate(-7px, -2px) }
  20% { transform: translate(-10px, 0px) }
  30% { transform: translate(10px, 2px) }
  40% { transform: translate(8px, -1px) }
  50% { transform: translate(-8px, 2px) }
  60% { transform: translate(-9px, 1px) }
  70% { transform: translate(10px, 1px) }
  80% { transform: translate(-8px, -1px) }
  90% { transform: translate(8px, 2px) }
  100% { transform: translate(8px, -1px) }
}

@media (max-width: 1199px){
  .BarBasicHUD{
    width: 100px;
  }
  .expBarBasicHUD{
    width: 80%;
  }
}

@media (max-width: 1023px){
  .BarBasicHUD{
    width: 50px;
  }
  .expBarBasicHUD{
    width: 80%;
  }
  .goGoButtonName{
    font-size:13px;
  }
}
@media (max-width: 767px){
  .hptextHUD,
  .sptextHUD,
  .hpPerHUD,
  .spPerHUD,
  .classTitle,
  .clockName{
    display: none;
  }
  .BarBasicHUD{
    width: 70px;
    margin: 0 5px 5px;
  }
  .HUDBox{
    justify-content: center;
  }
  .leveltext{
    font-size: 14px;
  }
  .greenHP,
  .redHP,
  .yellowHP,
  .blueSP,
  .purpleHP{
    width: 85%;
  }
  .enemyBox{
    width:150px;
  }
  .zenytextHUD{
    padding-top:10px;
  }
  .goGoButtonName,
  .goGoButtonSkillBash{
    font-size:12px;
  }
}
@media (max-width: 467px){
  .BarBasicHUD{
    width: 50px;
  }
  .expBarBasicHUD{
    margin: 0;
  }
  .nameStatsHUD,
  .zenytextHUD{
    margin: 0;
    text-align: center;
    font-size: 12px;
  }
  .zenytextHUD{
    padding: 0px;
  }
  .basicStatsHUD{
    font-size: 12px;
  }
  .clockBarBasicHUD{
    margin: 5px 0 0;
  }
  .userSkillBox{
    font-size: 14px;
  }
  .altanImg{
    height: 120px;
  }
  .greenHP,
  .redHP,
  .yellowHP{
    top:100px;

  }
  .blueSP{
    top:106px;
  }
  .userNamePosition{
    top:112px;
  }
  .imgFlip{
    height: 35px;
  }
  .leveltextHUD{
    text-align: center;
  }
  .enemyBox{
    width:100px;
  }
  .goGoButtonHide{
    display: none;
  }
}
