.ChallengeTowerMapBackground{
  background-image: url('../img/Background/ChallengeTower.jpg');
  background-position: center;
  background-size: cover;
}
.loadingScreenBattle,
.loadingScreenBattleTwo,
.loadingScreenBattleThree{
  animation-name: loading;
  animation-duration: 1s;
}
@keyframes loading {
  0%{ filter:none;}
  100%{filter: blur(2px) brightness(50%); transform: skew(0deg,-20deg) scale(2);}
}
.loadingScreenBattleTwo{
  animation-name: loadingTwo;
}
@keyframes loadingTwo {
  0%{ filter:none;}
  100%{filter: blur(2px) brightness(50%); transform: skew(20deg) scale(2);}
}
.loadingScreenBattleThree{
  animation-name: loadingThree;
}
@keyframes loadingThree {
  0%{ filter:none;}
  100%{filter: blur(2px) brightness(50%); transform: skew(-20deg) scale(2);}
}

.loadingScreenBattle::before,
.loadingScreenBattleTwo::before,
.loadingScreenBattleThree::before,
.loadingTrainingScreen::before,
.loadingTrainingSuccessScreen::before,
.loadingTrainingFailureScreen::before,
.loadingTrainingSuccessScreenImg::before,
.loadingTrainingFailureScreenImg::before{
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  opacity: 1;
}

.ChallengeTowerMapTitle{
  font-size: 30px;
  font-family: 'Chelsea Market', cursive;
  color: rgb(147, 23, 218);
  -webkit-text-stroke: 0.8px rgb(48, 48, 48);
  stroke: 0.8px rgb(48, 48, 48);
  /* animation-name: fadeOutMapName;
  animation-duration: 3s;
  opacity: 0; */
  display: none;
  position: absolute;
  top:0;
  left:50%;
  transform: translate3d(-50%,0,0);
  z-index: 999;
}

.ChallengeTowerMap{
  width:80%;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  position: relative;
  overflow: auto;
  overflow-x: hidden;
}

.ChallengeWorldMap::before,
.ChallengeTowerBase::before,
.TreasureBoxPoringIsland::before,
.BossTreasureBoxPoringIsland::before{
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-image: url('../img/Background/WorldMap.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: opacity 0.3s ease-in-out;
  border: solid #7CAFFF 1px;
}
.ChallengeWorldMap:hover::before,
.ChallengeTowerBase:hover::before,
.TreasureBoxPoringIsland:hover::before,
.BossTreasureBoxPoringIsland:hover::before{
  opacity: 1;
  background-image: url('../img/Background/WorldMap.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: opacity 0.3s ease-in-out;
  border: 1px solid rgb(23, 218, 23);
  cursor: pointer;
}
.GoldenThiefBug::before,
.GoldenThiefBug:hover::before{
  background-image: url('../img/Background/ChallengeTower1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.Drake::before,
.Drake:hover::before{
  background-image: url('../img/Background/ChallengeTower2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.Phreeoni::before,
.Phreeoni:hover::before{
  background-image: url('../img/Background/ChallengeTower3.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.StormyKnight::before,
.StormyKnight:hover::before{
  background-image: url('../img/Background/ChallengeTower4.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ChallengeWorldMap,
.ChallengeTowerBase,
.TreasureBoxPoringIsland,
.BossTreasureBoxPoringIsland{
  position: relative;
  font-family: 'Pangolin', cursive;
  font-size: 20px;
  color: rgb(26, 26, 26);
  background: linear-gradient(135deg, rgba(220,220,220,1) 0%, rgb(224, 131, 208) 100%);
  border-radius: 5px;
  text-shadow: 2px 2px 4px #536481;
}

.ReturnPoringIsland{
  font-size: 20px;
  color: rgb(26, 26, 26);
  background: linear-gradient(135deg, rgba(220,220,220,1) 0%, rgb(224, 131, 208) 100%);
  border-radius: 5px;
  text-shadow: 2px 2px 4px #536481;
  width:50%;
  cursor: pointer;
  position: relative;
  font-family: 'Balsamiq Sans', cursive;
  width: 80%;
  margin: 10px 0 10px;
}

.ReturnPoringIsland:hover{
  text-shadow: 1px 1px 1px #657c9c;
}

.ReturnPoringIsland::before{
  position: absolute;
  top: 50%;
  left: 5px;
  /* Change 0px */
  width: 100%;
  height: 0px;
  border-top: 7px solid transparent;  
  border-bottom: 7px solid transparent;
  border-left: 10px solid #764abc;
  content: '';
  transition: all 0.1s;
  transform: translate3d(0,-50%,0) scale3d(0,0,1);
  opacity: 0;
}

.ReturnPoringIsland:hover::before{
  transform: translate3d(0,-50%,0) scale3d(1,1,1);
  opacity: 1;
}

.ChallengeWorldMap { grid-area: 5 / 2 / 6 / 3; }
.GoldenThiefBug { grid-area: 4 / 1 / 5 / 2; }
.Drake { grid-area: 3 / 2 / 4 / 3; }
.Phreeoni { grid-area: 2 / 1 / 3 / 2; }
.StormyKnight { grid-area: 1 / 2 / 2 / 3; }


@media (max-width: 1199px){

}

@media (max-width: 1023px){

}

@media (max-width: 767px){
  .ChallengeTowerMap{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
  }
  .ChallengeWorldMap,
  .ChallengeTowerBase{
    width:100%;
    min-height:50px;
  }

  .ChallengeWorldMap:active,
  .ChallengeTowerBase:active{
    height:100%;
    min-height: 250px;
    transition: 0.3s ease-in-out;
  }
  .ChallengeTowerMapTitle{
    font-size: 24px;
    text-align: center;
  }
}
@media (max-width: 467px){
  .ChallengeTowerMapTitle{
    font-size: 20px;
  }
  .ChallengeTowerMap{
    padding-top: 50px;
  }
}
