.GeffenDungeon1FMapBackground{
  background-image: url('../img/Background/PayonCave.jpg');
  background-position: center;
  background-size: cover;
}

.GeffenDungeon1FMapTitle{
  font-size: 30px;
  font-family: 'Chelsea Market', cursive;
  color: rgb(132, 23, 221);
  -webkit-text-stroke: 0.8px rgb(48, 48, 48);
  stroke: 0.8px rgb(48, 48, 48);
  /* animation-name: fadeOutMapName;
  animation-duration: 3s;
  opacity: 0; */
  display: none;
  position: absolute;
  top:0;
  left:50%;
  transform: translate3d(-50%,0,0);
  z-index: 999;
}

.GeffenDungeon1FMap{
  width:80%;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  position: relative;
  overflow: auto;
  overflow-x: hidden;
}

.GeffenDungeon1FToWorldMap::before,
.GeffenDungeonBase::before{
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-image: url('../img/Background/WorldMap.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: opacity 0.3s ease-in-out;
  border: solid rgb(132, 23, 221) 1px;
}
.GeffenDungeon1FToWorldMap:hover::before,
.GeffenDungeonBase:hover::before{
  opacity: 1;
  background-image: url('../img/Background/WorldMap.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: opacity 0.3s ease-in-out;
  border: 1px solid rgb(132, 23, 221);
  cursor: pointer;
}

.GeffenDungeon1FToWorldMap,
.GeffenDungeonBase{
  position: relative;
  font-family: 'Pangolin', cursive;
  font-size: 20px;
  color: rgb(26, 26, 26);
  background: linear-gradient(135deg, rgba(220,220,220,1) 0%, rgb(202, 144, 216) 100%);
  border-radius: 5px;
  text-shadow: 2px 2px 4px #536481;
}

.ReturnGeffenDungeon{
  font-size: 20px;
  color: rgb(26, 26, 26);
  background: linear-gradient(135deg, rgba(220,220,220,1) 0%, rgb(202, 144, 216) 100%);
  border-radius: 5px;
  text-shadow: 2px 2px 4px #536481;
  width:50%;
  cursor: pointer;
  position: relative;
  font-family: 'Balsamiq Sans', cursive;
  width: 80%;
  margin: 10px 0 10px;
}
.ReturnGeffenDungeon:hover{
  text-shadow: 1px 1px 1px #657c9c;
}
.ReturnGeffenDungeon::before{
  position: absolute;
  top: 50%;
  left: 5px;
  /* Change 0px */
  width: 100%;
  height: 0px;
  border-top: 7px solid transparent;  
  border-bottom: 7px solid transparent;
  border-left: 10px solid #764abc;
  content: '';
  transition: all 0.1s;
  transform: translate3d(0,-50%,0) scale3d(0,0,1);
  opacity: 0;
}
.ReturnGeffenDungeon:hover::before{
  transform: translate3d(0,-50%,0) scale3d(1,1,1);
  opacity: 1;
}


@media (max-width: 1199px){

}

@media (max-width: 1023px){

}

@media (max-width: 767px){

}
@media (max-width: 467px){

}