.GeffenDungeon3FMapBackground{
  background-image: url('../img/Background/GeffenDungeon3F1.jpg');
  background-position: center;
  background-size: cover;
}
.GeffenDungeon4FMapBackground{
  background-image: url('../img/Background/GeffenDungeon4F1.jpg');
  background-position: center;
  background-size: cover;
}

.GeffenDungeon3FMapTitle{
  font-size: 30px;
  font-family: 'Chelsea Market', cursive;
  color: rgb(216, 211, 144);
  -webkit-text-stroke: 0.8px rgb(48, 48, 48);
  stroke: 0.8px rgb(48, 48, 48);
  /* animation-name: fadeOutMapName;
  animation-duration: 3s;
  opacity: 0; */
  display: none;
  position: absolute;
  top:0;
  left:50%;
  transform: translate3d(-50%,0,0);
  z-index: 999;
}

.GeffenDungeon3FMap{
  width:80%;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  position: relative;
  overflow: auto;
  overflow-x: hidden;
}

.GeffenDungeon3FToGeffenDungeon2F::before{
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-image: url('../img/Background/GeffenDungeon1F5.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: opacity 0.3s ease-in-out;
  border: solid rgb(216, 211, 144) 1px;
}
.GeffenDungeon3FToGeffenDungeon2F:hover::before{
  opacity: 1;
  background-image: url('../img/Background/GeffenDungeon1F5.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: opacity 0.3s ease-in-out;
  border: 1px solid rgb(216, 211, 144);
  cursor: pointer;
}

.GeffenDungeon3FToGeffenDungeon2F{
  position: relative;
  font-family: 'Pangolin', cursive;
  font-size: 20px;
  color: rgb(26, 26, 26);
  background: linear-gradient(135deg, rgba(220,220,220,1) 0%, rgb(216, 211, 144) 100%);
  border-radius: 5px;
  text-shadow: 2px 2px 4px #536481;
}

.GeffenDungeon3FPath0::before,
.GeffenDungeon3FPath0:hover::before,
.GeffenDungeon3FPath6::before,
.GeffenDungeon3FPath6:hover::before{
  background-image: url('../img/Background/GeffenDungeon3F2.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
.GeffenDungeon3FPath1::before,
.GeffenDungeon3FPath1:hover::before,
.GeffenDungeon3FPath6Pic2::before,
.GeffenDungeon3FPath6Pic2:hover::before{
  background-image: url('../img/Background/GeffenDungeon3F3.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.GeffenDungeon3FPath2::before,
.GeffenDungeon3FPath2:hover::before{
  background-image: url('../img/Background/GeffenDungeon3F6.jpg');
  background-repeat: no-repeat;
  background-position: center top;
}


.GeffenDungeon3FPath3::before,
.GeffenDungeon3FPath3:hover::before,
.GeffenDungeon4FToGeffenDungeon3F::before,
.GeffenDungeon4FToGeffenDungeon3F:hover::before{
  background-image: url('../img/Background/GeffenDungeon4F1.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.GeffenDungeon3FPath4::before,
.GeffenDungeon3FPath4:hover::before{
  background-image: url('../img/Background/GeffenDungeon3F4.jpg');
  background-repeat: no-repeat;
  background-position: center top;
}

.GeffenDungeon3FPath5::before,
.GeffenDungeon3FPath5:hover::before{
  background-image: url('../img/Background/BossTreasureBoxGeffenDungeon.jpg');
  background-repeat: no-repeat;
  background-position: center top;
}

.GeffenDungeon3FPath7::before,
.GeffenDungeon3FPath7:hover::before{
  background-image: url('../img/Background/GeffenDungeon3F5.jpg');
  background-repeat: no-repeat;
  background-position: center top;
}

.GeffenDungeon4FPath0::before,
.GeffenDungeon4FPath0:hover::before{
  background-image: url('../img/Background/GeffenDungeon4F2.jpg');
  background-repeat: no-repeat;
  background-position: center top;
}

.GeffenDungeon4FPath1::before,
.GeffenDungeon4FPath1:hover::before{
  background-image: url('../img/Background/GeffenDungeon4F3.jpg');
  background-repeat: no-repeat;
  background-position: center top;
}

.GeffenDungeon3FToGeffenDungeon2F { grid-area: 5 / 3 / 6 / 4; }
.GeffenDungeon3FPath0 { grid-area: 4 / 3 / 5 / 4; }
.GeffenDungeon3FPath1 { grid-area: 3 / 3 / 4 / 4; }
.GeffenDungeon3FPath2 { grid-area: 2 / 3 / 3 / 4; }
.GeffenDungeon3FPath3 { grid-area: 1 / 3 / 2 / 4; }
.GeffenDungeon3FPath4 { grid-area: 2 / 2 / 3 / 3; }
.GeffenDungeon3FPath5 { grid-area: 3 / 1 / 4 / 2; }
.GeffenDungeon3FPath6 { grid-area: 2 / 4 / 3 / 5; }
.GeffenDungeon3FPath7 { grid-area: 3 / 5 / 4 / 6; }


@media (max-width: 1199px){

}

@media (max-width: 1023px){

}

@media (max-width: 767px){

}
@media (max-width: 467px){

}