.GeffenMapTitle{
  font-size: 30px;
  font-family: 'Chelsea Market', cursive;
  color: rgb(216, 211, 144);
  -webkit-text-stroke: 0.8px rgb(48, 48, 48);
  stroke: 0.8px rgb(48, 48, 48);
  /* animation-name: fadeOutMapName;
  animation-duration: 3s;
  opacity: 0; */
  display: none;
  position: absolute;
  top:0;
  left:50%;
  transform: translate3d(-50%,0,0);
  z-index: 999;
}

.GeffenMap{
  width:80%;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  position: relative;
  overflow: auto;
  overflow-x: hidden;
}

.GeffenMapBackground{
  background-image: url('../img/Background/Geffen.jpg');
  background-position: center;
  background-size: cover;
}

.GeffenBase:hover{
  background: linear-gradient(135deg, rgb(167, 165, 165) 0%, rgb(175, 165, 23) 100%);
}

.GeffenWorldMap::before,
.GeffenBase::before,
.GeffenDungeon1F::before{
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-image: url('../img/Background/WorldMap.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: opacity 0.3s ease-in-out;
  border: 1px solid #e2ff3c
}
.GeffenWorldMap:hover::before,
.GeffenBase:hover::before,
.GeffenDungeon1F:hover::before{
  opacity: 1;
  background-image: url('../img/Background/WorldMap.jpg');
  background-position: center;
  background-size: cover;
  transition: opacity 0.3s ease-in-out;
  border: 1px solid #e2ff3c;
  cursor: pointer;
}

.GeffenDungeon1F::before,
.GeffenDungeon1F:hover::before{
  background-image: url('../img/Background/GeffenDungeon1F.png');
  background-position: center;
  background-size: cover;
}

.GeffenGoblinYula::before,
.GeffenGoblinYula:hover::before{
  background-image: none;
}

.GeffenCitizen::before,
.GeffenCitizen:hover::before{
  background-image: none;
}

.GeffenTimer::before,
.GeffenTimer:hover::before{
  background-image: none;
}

.GeffenGrandma::before,
.GeffenGrandma:hover::before{
  background-image: none;
}
.GeffenQuestBoard::before,
.GeffenQuestBoard:hover::before{
  background-image: none;
}

.GeffenSoldier::before,
.GeffenSoldier:hover::before{
  background-image: none;
}

.GeffenAccessoriesDealer::before,
.GeffenAccessoriesDealer:hover::before{
  background-image: none;
}

.GeffenWorldMap,
.GeffenBase,
.GeffenDungeon1F{
  position: relative;
  font-family: 'Pangolin', cursive;
  font-size: 20px;
  color: rgb(26, 26, 26);
  background: linear-gradient(135deg, rgba(220,220,220,1) 0%, rgb(216, 211, 144) 100%);
  border-radius: 5px;
  text-shadow: 2px 2px 4px #536481;
}

.GeffenWorldMap { grid-area: 2 / 5 / 3 / 6; }
.GeffenGoblinYula { grid-area: 2 / 2 / 3 / 3; }
.GeffenDungeon1F { grid-area: 2 / 3 / 3 / 4; }
.GeffenCitizen { grid-area: 1 / 5 / 2 / 6; }
.GeffenTimer { grid-area: 1 / 2 / 2 / 3; }
.GeffenGrandma { grid-area: 3 / 4 / 4 / 5; }
.GeffenQuestBoard { grid-area: 3 / 5 / 4 / 6; }
.GeffenSoldier { grid-area: 2 / 4 / 3 / 5; }
.GeffenAccessoriesDealer { grid-area: 3 / 1 / 4 / 2; }

@media (max-width: 1199px){

}

@media (max-width: 1023px){

}

@media (max-width: 767px){
  .GeffenMap{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
  }
  .GeffenWorldMap,
  .GeffenGoblinYula,
  .GeffenDungeon1F,
  .GeffenCitizen,
  .GeffenTimer,
  .GeffenGrandma,
  .GeffenBase,
  .GeffenQuestBoard,
  .GeffenSoldier,
  .GeffenAccessoriesDealer{
    width:100%;
    min-height: 120px;
  }
  .GeffenWorldMap:active,
  .GeffenDungeon1F:active{
    height:100%;
    min-height: 250px;
    transition: 0.3s ease-in-out;
  }
  .GeffenMapTitle{
    font-size: 30px;
  }
}
@media (max-width: 467px){
  .GeffenMapTitle{
    font-size: 30px;
  }
  .GeffenMap{
    padding-top: 40px;
  }
}