.GeffenDungeon1FMapBackground{
  background-image: url('../img/Background/GeffenDungeon1FBackground.png');
  background-position: center;
  background-size: cover;
}
.GeffenDungeon2FMapBackground{
  background-image: url('../img/Background/GeffenDungeon1F5.jpg');
  background-position: center;
  background-size: cover;
}
.GeffenDungeon1FMapTitle{
  font-size: 30px;
  font-family: 'Chelsea Market', cursive;
  color: rgb(216, 211, 144);
  -webkit-text-stroke: 0.8px rgb(48, 48, 48);
  stroke: 0.8px rgb(48, 48, 48);
  /* animation-name: fadeOutMapName;
  animation-duration: 3s;
  opacity: 0; */
  display: none;
  position: absolute;
  top:0;
  left:50%;
  transform: translate3d(-50%,0,0);
  z-index: 999;
}

.GeffenDungeon1FMap{
  width:80%;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  position: relative;
  overflow: auto;
  overflow-x: hidden;
}

.GeffenDungeon1FToGeffen::before,
.GeffenDungeonBase::before{
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-image: url('../img/Background/Geffen.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: opacity 0.3s ease-in-out;
  border: solid rgb(216, 211, 144) 1px;
}
.GeffenDungeon1FToGeffen:hover::before,
.GeffenDungeonBase:hover::before{
  opacity: 1;
  background-image: url('../img/Background/Geffen.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: opacity 0.3s ease-in-out;
  border: 1px solid rgb(216, 211, 144);
  cursor: pointer;
}

.GeffenDungeon1FToGeffen,
.GeffenDungeonBase{
  position: relative;
  font-family: 'Pangolin', cursive;
  font-size: 20px;
  color: rgb(26, 26, 26);
  background: linear-gradient(135deg, rgba(220,220,220,1) 0%, rgb(216, 211, 144) 100%);
  border-radius: 5px;
  text-shadow: 2px 2px 4px #536481;
}

.GeffenDungeon1FPath0::before,
.GeffenDungeon1FPath0:hover::before,
.GeffenDungeon1FPath2::before,
.GeffenDungeon1FPath2:hover::before{
  background-image: url('../img/Background/GeffenDungeon1F1.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
.GeffenDungeon1FPath0Pic2::before,
.GeffenDungeon1FPath0Pic2:hover::before{
  background-image: url('../img/Background/GeffenDungeon1F2.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.GeffenDungeon1FPath1::before,
.GeffenDungeon1FPath1:hover::before{
  background-image: url('../img/Background/GeffenDungeon1F3.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.GeffenDungeon1FPath3::before,
.GeffenDungeon1FPath3:hover::before{
  background-image: url('../img/Background/GeffenDungeon1F4.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
.GeffenDungeon1FTo2F::before,
.GeffenDungeon1FTo2F:hover::before{
  background-image: url('../img/Background/GeffenDungeon1F5.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
.GeffenDungeon2FToGeffenDungeon1F::before,
.GeffenDungeon2FToGeffenDungeon1F:hover::before{
  background-image: url('../img/Background/GeffenDungeon1FBackground.png');
  background-repeat: no-repeat;
  background-position: center;
}
.TreasureBoxGeffenDungeon1F::before,
.TreasureBoxGeffenDungeon1F:hover::before{
  background-image: url('../img/Background/GeffenDungeon1F6.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
.GeffenDungeon2FPath0Split0::before,
.GeffenDungeon2FPath0Split0:hover::before,
.GeffenDungeon2FPath1Split0::before,
.GeffenDungeon2FPath1Split0:hover::before,
.GeffenDungeon2FPath0Split1::before,
.GeffenDungeon2FPath0Split1:hover::before{
  background-image: url('../img/Background/GeffenDungeon2F1.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
.GeffenDungeon2FPath1Split0Pic2::before,
.GeffenDungeon2FPath1Split0Pic2:hover::before,
.GeffenDungeon2FPath2Split1::before,
.GeffenDungeon2FPath2Split1:hover::before{
  background-image: url('../img/Background/GeffenDungeon2F2.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
.GeffenDungeon2FPath2Split0::before,
.GeffenDungeon2FPath2Split0:hover::before{
  background-image: url('../img/Background/GeffenDungeon2F3.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
.TreasureBoxGeffenDungeon2F1::before,
.TreasureBoxGeffenDungeon2F1:hover::before{
  background-image: url('../img/Background/GeffenDungeon2F4.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
.GeffenDungeon2FPath1Split1::before,
.GeffenDungeon2FPath1Split1:hover::before{
  background-image: url('../img/Background/GeffenDungeon2F5.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
.TreasureBoxGeffenDungeon2F2::before,
.TreasureBoxGeffenDungeon2F2:hover::before{
  background-image: url('../img/Background/GeffenDungeon2F6.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
.GeffenDungeon2FToGeffenDungeon3F::before,
.GeffenDungeon2FToGeffenDungeon3F:hover::before{
  background-image: url('../img/Background/GeffenDungeon3F1.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
.GeffenDungeon2FPathHidden1::before,
.GeffenDungeon2FPathHidden1:hover::before{
  background-image: url('../img/Background/Special3.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
.GeffenDungeon1FToGeffen { grid-area: 1 / 1 / 2 / 2; }
.GeffenDungeon1FPath0 { grid-area: 1 / 2 / 2 / 3; }
.GeffenDungeon1FPath1 { grid-area: 1 / 3 / 2 / 4; }
.GeffenDungeon1FPath2 { grid-area: 2 / 3 / 3 / 4; }
.GeffenDungeon1FPath3 { grid-area: 2 / 2 / 3 / 3; }
.TreasureBoxGeffenDungeon1F { grid-area: 2 / 1 / 3 / 2; }
.GeffenDungeon1FTo2F { grid-area: 3 / 2 / 4 / 3; }



.ReturnGeffenDungeon{
  font-size: 20px;
  color: rgb(26, 26, 26);
  background: linear-gradient(135deg, rgba(220,220,220,1) 0%, rgb(216, 211, 144) 100%);
  border-radius: 5px;
  text-shadow: 2px 2px 4px #536481;
  width:50%;
  cursor: pointer;
  position: relative;
  font-family: 'Balsamiq Sans', cursive;
  width: 80%;
  margin: 10px 0 10px;
}
.ReturnGeffenDungeon:hover{
  text-shadow: 1px 1px 1px #657c9c;
}
.ReturnGeffenDungeon::before{
  position: absolute;
  top: 50%;
  left: 5px;
  /* Change 0px */
  width: 100%;
  height: 0px;
  border-top: 7px solid transparent;  
  border-bottom: 7px solid transparent;
  border-left: 10px solid #764abc;
  content: '';
  transition: all 0.1s;
  transform: translate3d(0,-50%,0) scale3d(0,0,1);
  opacity: 0;
}
.ReturnGeffenDungeon:hover::before{
  transform: translate3d(0,-50%,0) scale3d(1,1,1);
  opacity: 1;
}


@media (max-width: 1199px){

}

@media (max-width: 1023px){

}

@media (max-width: 767px){
  .GeffenDungeon1FMap,
  .GeffenDungeon2FMap{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .GeffenDungeon1FToGeffen,
  .GeffenDungeon1FPath0,
  .GeffenDungeon1FPath1,
  .GeffenDungeon1FPath2,
  .GeffenDungeon1FPath3,
  .TreasureBoxGeffenDungeon1F,
  .GeffenDungeon1FTo2F,
  .GeffenDungeon2FToGeffenDungeon1F,
  .GeffenDungeon2FPath0Split0,
  .GeffenDungeon2FPath1Split0,
  .GeffenDungeon2FPath2Split0,
  .TreasureBoxGeffenDungeon2F1,
  .GeffenDungeon2FPath0Split1,
  .GeffenDungeon2FPath1Split1,
  .GeffenDungeon2FPath2Split1,
  .TreasureBoxGeffenDungeon2F2,
  .GeffenDungeon2FPathHidden1,
  .GeffenDungeon2FToGeffenDungeon3F,
  .GeffenDungeonBase{
    width:100%;
    min-height: 50px;
  }
  .GeffenDungeonBase:active,
  .GeffenDungeon1FToGeffen:active,
  .GeffenDungeon2FToGeffenDungeon1F:active,
  .GeffenDungeon2FToGeffenDungeon3F:active,
  .GeffenDungeon3FToGeffenDungeon2F:active,
  .GeffenDungeon4FToGeffenDungeon3F:active{
    height:100%;
    min-height: 250px;
    transition: 0.3s ease-in-out;
  }
  .GeffenDungeon1FMapTitle,
  .GeffenDungeon2FMapTitle{
    font-size: 24px;
    text-align: center;
  }
}
@media (max-width: 467px){
  .GeffenDungeon1FMapTitle,
  .GeffenDungeon2FMapTitle{
    font-size: 17px;
  }
  .GeffenDungeon1FMap,
  .GeffenDungeon2FMap{
    padding-top: 50px;
  }
}