.PayonCave2FMapTitle{
  font-size: 30px;
  font-family: 'Chelsea Market', cursive;
  color: rgb(132, 23, 221);
  -webkit-text-stroke: 0.8px rgb(48, 48, 48);
  stroke: 0.8px rgb(48, 48, 48);
  /* animation-name: fadeOutMapName;
  animation-duration: 3s;
  opacity: 0; */
  display: none;
  position: absolute;
  top:0;
  left:50%;
  transform: translate3d(-50%,0,0);
  z-index: 999;
}

.PayonCave2FMap{
  width: 100%;
  height: 100%;
  /* background-image: url('../img/Background/PoringIslandChest1.png');
  background-position: center;
  background-size: cover; */
  position: relative;
  overflow: auto;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  position: relative;
  overflow: auto;
  overflow-x: hidden;
  border: 1px solid black;
}



.PayonCave2FToPayonCave1F { grid-area: 5 / 1 / 6 / 2; }
.PayonCave2FPath0 { grid-area: 4 / 1 / 5 / 2; }
.PayonCave2FPath1 { grid-area: 4 / 2 / 5 / 3; }
.PayonCave2FPath2 { grid-area: 4 / 3 / 5 / 4; }
.PayonCave2FPath3 { grid-area: 3 / 3 / 4 / 4; }
.PayonCave2FPath4 { grid-area: 2 / 3 / 3 / 4; }
.PayonCave2FPath5 { grid-area: 2 / 4 / 3 / 5; }
.PayonCave2FPath6 { grid-area: 3 / 4 / 4 / 5; }
.PayonCave2FPath7 { grid-area: 4 / 4 / 5 / 5; }
.PayonCave2FPath9 { grid-area: 5 / 3 / 6 / 4; }
.PayonCave2FPath10{ grid-area: 1 / 4 / 2 / 5; }
.PayonCave2FToPayonCave3F { grid-area: 5 / 4 / 6 / 5; }