.PayonCave1FMapBackground{
  background-image: url('../img/Background/PayonCave.jpg');
  background-position: center;
  background-size: cover;
}
.PayonCave2FMapBackground{
  background-image: url('../img/Background/PayonCave2F.jpg');
  background-position: center;
  background-size: cover;
}
.PayonCave3FMapBackground{
  background-image: url('../img/Background/PayonCave3F.jpg');
  background-position: center;
  background-size: cover;
}
.PayonCave1FMapTitle{
  font-size: 30px;
  font-family: 'Chelsea Market', cursive;
  color: rgb(132, 23, 221);
  -webkit-text-stroke: 0.8px rgb(48, 48, 48);
  stroke: 0.8px rgb(48, 48, 48);
  /* animation-name: fadeOutMapName;
  animation-duration: 3s;
  opacity: 0; */
  display: none;
  position: absolute;
  top:0;
  left:50%;
  transform: translate3d(-50%,0,0);
  z-index: 999;
}

.PayonCave1FMap{
  width:80%;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  position: relative;
  overflow: auto;
  overflow-x: hidden;
}

.PayonCave1FToWorldMap::before,
.PayonCave1FPath0::before,
.TreasureBoxPayonCave1F::before,
.PayonCave1FTo2F::before,
.PayonCaveBase::before{
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-image: url('../img/Background/WorldMap.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: opacity 0.3s ease-in-out;
  border: solid rgb(132, 23, 221) 1px;
}
.PayonCave1FToWorldMap:hover::before,
.PayonCave1FPath0:hover::before,
.TreasureBoxPayonCave1F:hover::before,
.PayonCave1FTo2F:hover::before,
.PayonCaveBase:hover::before{
  opacity: 1;
  background-image: url('../img/Background/WorldMap.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: opacity 0.3s ease-in-out;
  border: 1px solid rgb(132, 23, 221);
  cursor: pointer;
}

.PayonCave1FPath0::before,
.PayonCave1FPath0:hover::before{
  background-image: url('../img/Background/PayonCave1F1.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.PayonCave1FPath0Pic2::before,
.PayonCave1FPath0Pic2:hover::before{
  background-image: url('../img/Background/PayonCave1F2.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.TreasureBoxPayonCave1F::before,
.TreasureBoxPayonCave1F:hover::before{
  background-image: url('../img/Background/TreasureBoxPayonCave1F.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}




.PayonCave1FTo2F::before,
.PayonCave1FTo2F:hover::before,
.PayonCave3FToPayonCave2F::before,
.PayonCave3FToPayonCave2F:hover::before{
  background-image: url('../img/Background/PayonCave2F.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.PayonCave2FToPayonCave1F::before,
.PayonCave2FToPayonCave1F:hover::before{
  background-image: url('../img/Background/PayonCave.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.PayonCave2FToPayonCave3F::before,
.PayonCave2FToPayonCave3F:hover::before{
  background-image: url('../img/Background/PayonCave3F.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.PayonCave2FPath0::before,
.PayonCave2FPath0:hover::before,
.PayonCave2FPath6::before,
.PayonCave2FPath6:hover::before,
.PayonCave2FPath1::before,
.PayonCave2FPath1:hover::before{
  background-image: url('../img/Background/PayonCave2F1.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.PayonCave2FPath2::before,
.PayonCave2FPath2:hover::before{
  background-image: url('../img/Background/PayonCave2FCrossPath.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.PayonCave2FPath3::before,
.PayonCave2FPath3:hover::before{
  background-image: url('../img/Background/PayonCave2FCave1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.PayonCave2FPath0Pic2::before,
.PayonCave2FPath0Pic2:hover::before{
  background-image: url('../img/Background/PayonCave2F2.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.PayonCave2FPath4::before,
.PayonCave2FPath4:hover::before{
  background-image: url('../img/Background/PayonCave2F3.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.PayonCave2FPath5::before,
.PayonCave2FPath5:hover::before{
  background-image: url('../img/Background/PayonCave2FCave2.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.PayonCave2FPath7::before,
.PayonCave2FPath7:hover::before{
  background-image: url('../img/Background/PayonCave2F4.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.PayonCave2FPath9::before,
.PayonCave2FPath9:hover::before{
  background-image: url('../img/Background/PayonCave2F5Secret.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.PayonCave2FPath10::before,
.PayonCave2FPath10:hover::before{
  background-image: url('../img/Background/TreasureBoxPayonCave2F.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.PayonCave3FPath1::before,
.PayonCave3FPath1:hover::before{
  background-image: url('../img/Background/PayonCave3F1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.PayonCave3FPath2::before,
.PayonCave3FPath2:hover::before{
  background-image: url('../img/Background/PayonCave3F2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.PayonCave3FPath2Pic2::before,
.PayonCave3FPath2Pic2:hover::before{
  background-image: url('../img/Background/PayonCave3F3.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.PayonCave3FPath3::before,
.PayonCave3FPath3:hover::before{
  background-image: url('../img/Background/BossTreasureBoxPayonCave.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.PayonCave1FToWorldMap,
.PayonCave1FPath0,
.TreasureBoxPayonCave1F,
.PayonCave1FTo2F,
.PayonCaveBase{
  position: relative;
  font-family: 'Pangolin', cursive;
  font-size: 20px;
  color: rgb(26, 26, 26);
  background: linear-gradient(135deg, rgba(220,220,220,1) 0%, rgb(202, 144, 216) 100%);
  border-radius: 5px;
  text-shadow: 2px 2px 4px #536481;
}

.ReturnPayonCave{
  font-size: 20px;
  color: rgb(26, 26, 26);
  background: linear-gradient(135deg, rgba(220,220,220,1) 0%, rgb(202, 144, 216) 100%);
  border-radius: 5px;
  text-shadow: 2px 2px 4px #536481;
  width:50%;
  cursor: pointer;
  position: relative;
  font-family: 'Balsamiq Sans', cursive;
  width: 80%;
  margin: 10px 0 10px;
}
.ReturnPoringIsland:hover{
  text-shadow: 1px 1px 1px #657c9c;
}
.ReturnPoringIsland::before{
  position: absolute;
  top: 50%;
  left: 5px;
  /* Change 0px */
  width: 100%;
  height: 0px;
  border-top: 7px solid transparent;  
  border-bottom: 7px solid transparent;
  border-left: 10px solid #764abc;
  content: '';
  transition: all 0.1s;
  transform: translate3d(0,-50%,0) scale3d(0,0,1);
  opacity: 0;
}
.ReturnPoringIsland:hover::before{
  transform: translate3d(0,-50%,0) scale3d(1,1,1);
  opacity: 1;
}

.PayonCave1FToWorldMap { grid-area: 3 / 2 / 4 / 3; }
.PayonCave1FPath0 { grid-area: 2 / 2 / 3 / 3; }
.TreasureBoxPayonCave1F { grid-area: 2 / 1 / 3 / 2; }
.PayonCave1FTo2F { grid-area: 1 / 2 / 2 / 3; }
.PayonCave1FPathHidden1 { grid-area: 2 / 3 / 3 / 4; }
.PayonCave1FPathHidden2 { grid-area: 1 / 3 / 2 / 4; }