.PoringIslandMapBackground{
  background-image: url('../img/Background/PoringIsland.jpg');
  background-position: center;
  background-size: cover;
}
.loadingScreenBattle,
.loadingScreenBattleTwo,
.loadingScreenBattleThree{
  animation-name: loading;
  animation-duration: 1s;
}
@keyframes loading {
  0%{ filter:none;}
  100%{filter: blur(2px) brightness(50%); transform: skew(0deg,-20deg) scale(2);}
}
.loadingScreenBattleTwo{
  animation-name: loadingTwo;
}
@keyframes loadingTwo {
  0%{ filter:none;}
  100%{filter: blur(2px) brightness(50%); transform: skew(20deg) scale(2);}
}
.loadingScreenBattleThree{
  animation-name: loadingThree;
}
@keyframes loadingThree {
  0%{ filter:none;}
  100%{filter: blur(2px) brightness(50%); transform: skew(-20deg) scale(2);}
}

.loadingScreenBattle::before,
.loadingScreenBattleTwo::before,
.loadingScreenBattleThree::before,
.loadingTrainingScreen::before,
.loadingTrainingSuccessScreen::before,
.loadingTrainingFailureScreen::before,
.loadingTrainingSuccessScreenImg::before,
.loadingTrainingFailureScreenImg::before{
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  opacity: 1;
}
.loadingTrainingSuccessScreenImg::before{
  background-image: url('../img/Emote/Success.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10%;
  
}
.loadingTrainingFailureScreenImg::before{
  background-image: url('../img/Emote/Failure.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10%;
}

.loadingTrainingSuccessScreen{
  animation-name: loadingTrainingSuccess;
  animation-duration: 1s;
  transition: 3s ease-in background-image;
}
.loadingTrainingFailureScreen{
  animation-name: loadingTrainingFailure;
  animation-duration: 1s;

}

@keyframes loadingTrainingSuccess {
  0%{ filter:none; }
  50%{filter:brightness(130%);}
  100%{ filter:none;}
}
@keyframes loadingTrainingFailure {
  0%{ filter:none;}
  50%{filter: brightness(130%);}
  100%{ filter:none;}
}

.PoringIslandMapTitle{
  font-size: 30px;
  font-family: 'Chelsea Market', cursive;
  color: rgb(23, 218, 23);
  -webkit-text-stroke: 0.8px rgb(48, 48, 48);
  stroke: 0.8px rgb(48, 48, 48);
  /* animation-name: fadeOutMapName;
  animation-duration: 3s;
  opacity: 0; */
  display: none;
  position: absolute;
  top:0;
  left:50%;
  transform: translate3d(-50%,0,0);
  z-index: 999;
}

.PoringIslandMap{
  width:80%;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  position: relative;
  overflow: auto;
  overflow-x: hidden;
}

.WorldMap::before,
.SmallIsland::before,
.TreasureBoxPoringIsland::before,
.BossTreasureBoxPoringIsland::before{
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-image: url('../img/Background/WorldMap.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: opacity 0.3s ease-in-out;
  border: solid #7CAFFF 1px;
}
.WorldMap:hover::before,
.SmallIsland:hover::before,
.TreasureBoxPoringIsland:hover::before,
.BossTreasureBoxPoringIsland:hover::before{
  opacity: 1;
  background-image: url('../img/Background/WorldMap.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: opacity 0.3s ease-in-out;
  border: 1px solid rgb(23, 218, 23);
  cursor: pointer;
}
.SmallIsland::before,
.SmallIsland:hover::before{
  background-image: url('../img/Background/SmallIlsland0.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.SmallIsland1::before,
.SmallIsland1:hover::before{
  background-image: url('../img/Background/SmallIlsland1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.SmallIsland2::before,
.SmallIsland2:hover::before{
  background-image: url('../img/Background/SmallIlsland2.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.SmallIsland3Secret::before,
.SmallIsland3Secret:hover::before{
  background-image: url('../img/Background/SmallIlsland2Secret.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.SmallIsland3::before,
.SmallIsland3:hover::before{
  background-image: url('../img/Background/SmallIlsland3.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}
.SmallIsland4::before,
.SmallIsland4:hover::before{
  background-image: url('../img/Background/SmallIlslandBridge.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.SmallIsland5::before,
.SmallIsland5:hover::before{
  background-image: url('../img/Background/SmallIlsland5.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.SmallIsland5B::before,
.SmallIsland5B:hover::before{
  background-image: url('../img/Background/SmallIlsland5B.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}



.TreasureBoxPoringIsland::before,
.TreasureBoxPoringIsland:hover::before{
  background-image: url('../img/Background/TreasureBoxPoringIsland1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.TreasureBoxPoringIsland2::before,
.TreasureBoxPoringIsland2:hover::before{
  background-image: url('../img/Background/TreasureBoxPoringIsland2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.BossTreasureBoxPoringIsland::before,
.BossTreasureBoxPoringIsland:hover::before{
  background-image: url('../img/Background/BossTreasureBoxPoringIsland.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.SmallIslandBridgeHidden1::before,
.SmallIslandBridgeHidden1:hover::before{
  background-image: url('../img/Background/SmallIslandPathBridgeHidden1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.SmallIslandBridgeHidden2::before,
.SmallIslandBridgeHidden2:hover::before{
  background-image: url('../img/Background/SmallIslandPathBridgeHidden2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.SmallIslandBridgeHiddenNPC::before,
.SmallIslandBridgeHiddenNPC:hover::before{
  background-image: url('../img/Background/SmallIslandBridgeHiddenNPC.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}



.WorldMap,
.SmallIsland,
.TreasureBoxPoringIsland,
.BossTreasureBoxPoringIsland{
  position: relative;
  font-family: 'Pangolin', cursive;
  font-size: 20px;
  color: rgb(26, 26, 26);
  background: linear-gradient(135deg, rgba(220,220,220,1) 0%, rgb(149, 216, 210) 100%);
  border-radius: 5px;
  text-shadow: 2px 2px 4px #536481;
}

.ReturnPoringIsland,
.HouseSelectButton{
  font-size: 20px;
  color: rgb(26, 26, 26);
  background: linear-gradient(135deg, rgba(220,220,220,1) 0%, rgb(149, 216, 210) 100%);
  border-radius: 5px;
  text-shadow: 2px 2px 4px #536481;
  width:50%;
  cursor: pointer;
  position: relative;
  font-family: 'Balsamiq Sans', cursive;
  width: 80%;
  margin: 10px 0 10px;
}
.HouseSelectButton{
  width: 40%;
  margin: 10px;
}

.ReturnPoringIsland:hover,
.HouseSelectButton:hover{
  text-shadow: 1px 1px 1px #657c9c;
}

.ReturnPoringIsland::before,
.HouseSelectButton::before{
  position: absolute;
  top: 50%;
  left: 5px;
  /* Change 0px */
  width: 100%;
  height: 0px;
  border-top: 7px solid transparent;  
  border-bottom: 7px solid transparent;
  border-left: 10px solid #764abc;
  content: '';
  transition: all 0.1s;
  transform: translate3d(0,-50%,0) scale3d(0,0,1);
  opacity: 0;
}

.ReturnPoringIsland:hover::before,
.HouseSelectButton:hover::before{
  transform: translate3d(0,-50%,0) scale3d(1,1,1);
  opacity: 1;
}

.WorldMap { grid-area: 2 / 1 / 3 / 2; }
.SmallIslandPath0 { grid-area: 2 / 2 / 3 / 3; }
.SmallIslandPath1 { grid-area: 3 / 2 / 4 / 3; }
.SmallIslandPath2 { grid-area: 3 / 3 / 4 / 4; }
.SmallIslandPath2Secret { grid-area: 2 / 3 / 3 / 4; }
.SmallIslandPathBridge { grid-area: 3 / 4 / 4 / 5; }
.SmallIslandPathBoss { grid-area: 3 / 5 / 4 / 6; }
.BossTreasureBoxPoringIsland { grid-area: 3 / 6 / 4 / 7; }
/* Hidden Passage */
.SmallIslandPathBridgeHidden1 { grid-area: 4 / 4 / 5 / 5; }
.SmallIslandPathBridgeHidden2 { grid-area: 5 / 4 / 6 / 5; }
.SmallIslandPathBridgeHiddenNPC { grid-area: 5 / 5 / 6 / 6; }

.TreasureBoxPoringIsland { grid-area: 1 / 2 / 2 / 3; }
.TreasureBoxPoringIsland2 { grid-area: 4 / 3 / 5 / 4; }


@media (max-width: 1199px){

}

@media (max-width: 1023px){

}

@media (max-width: 767px){
  .PoringIslandMap{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }
  .WorldMap,
  .SmallIslandPath0,
  .SmallIslandPath1,
  .SmallIslandPath2,
  .SmallIslandPath2Secret,
  .SmallIslandPathBridge,
  .SmallIslandPathBoss,
  .BossTreasureBoxPoringIsland,
  /* Hidden Passage */
  .SmallIslandPathBridgeHidden1,
  .SmallIslandPathBridgeHidden2,
  .SmallIslandPathBridgeHiddenNPC,
  .TreasureBoxPoringIsland,
  .TreasureBoxPoringIsland2{
    width:100%;
    min-height: 50px;
  }
  .PoringIslandMapTitle{
    font-size: 23px;
  }
}
@media (max-width: 467px){
  .PoringIslandMapTitle{
    font-size: 16px;
  }
  .PoringIslandMap{
    padding-top: 20px;
  }
}
