.textCenter,
.storySpeech{
  text-align: center;
}

.storyMapScreen{
  height: calc(75vh - 3rem);
  display: flex;
}

.storyChat{
  height: 25vh;
}

.PronteraMapBackground{
  background-image: url('../img/Background/Prontera.jpg');
  background-position: center;
  background-size: cover;
}

.PronteraMapTitle{
  font-size: 30px;
  font-family: 'Chelsea Market', cursive;
  color: rgb(31, 173, 255);
  -webkit-text-stroke: 0.8px rgb(48, 48, 48);
  stroke: 0.8px rgb(48, 48, 48);
  /* animation-name: fadeOutMapName;
  animation-duration: 3s;
  opacity: 0; */
  display: none;
  position: absolute;
  top:0;
  left:50%;
  transform: translate3d(-50%,0,0);
  z-index: 999;
}

.PronteraMap{
  width:80%;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  position: relative;
  overflow: auto;
  overflow-x: hidden;
}

.PronteraWorldMap::before{
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-image: url('../img/Background/WorldMap.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: opacity 0.3s ease-in-out;
  border: solid #7CAFFF 1px;
}
.PronteraWorldMap:hover::before{
  opacity: 1;
  background-image: url('../img/Background/WorldMap.jpg');
  background-position: center;
  background-size: cover;
  transition: opacity 0.3s ease-in-out;
  border: 1px solid rgb(23, 218, 23);
}
/* .kafraEmployee::before,
.kafraEmployee:hover::before{
  background-image: url('../img/Background/WorldMap.jpg');
} */
.kafraEmployee::before,
.questBoard::before,
.pronteraFountain::before,
.toolDealerNPC::before,
.weaponArmorDealerNPC::before,
.headGearDealerNPC::before,
.soldier1::before,
.soldier2::before,
.castleEnterence::before,
.kiwiGuild::before,
.chocolateGuild::before,
.lemonGuild::before{
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.kafraEmployee:hover::before,
.questBoard:hover::before,
.pronteraFountain:hover::before,
.toolDealerNPC:hover::before,
.weaponArmorDealerNPC:hover::before,
.headGearDealerNPC:hover::before,
.soldier1:hover::before,
.soldier2:hover::before,
.castleEnterence:hover::before,
.kiwiGuild:hover::before,
.chocolateGuild:hover::before,
.lemonGuild:hover::before{
  border: solid #3c70ff 1px;
}

.PronteraWorldMap,
.kafraEmployee,
.questBoard,
.pronteraFountain,
.toolDealerNPC,
.weaponArmorDealerNPC,
.headGearDealerNPC,
.soldier1,
.soldier2,
.castleEnterence,
.kiwiGuild,
.chocolateGuild,
.lemonGuild{
  position: relative;
  font-family: 'Pangolin', cursive;
  font-size: 20px;
  color: rgb(26, 26, 26);
  background: linear-gradient(135deg, rgba(220,220,220,1) 0%, rgb(144, 166, 212) 100%);
  border-radius: 5px;
  text-shadow: 2px 2px 4px #536481;
  cursor: pointer;
}
.pronteraFountainImg{
  width:100%;
  height:100%;
}
.storyCharacter{
  background-color: rgb(0,0,0);
  border-radius: 3px;
  font-size: 20px;
}

.storyCharacterBox{
  border: 2px solid rgb(77, 72, 72);
  padding: 2px 20px 2px;
}

.questList{
  list-style:none;
}


.StoryHUD{
  width:20%;
  border: 1px solid black;
}

.ReturnParent{
  position: relative;
  width:80%;
  border: 1px solid black;
}

.ReturnHUD{
  position:absolute;
  top: 0px;
  right: 0px;
}

.soldier1 { grid-area: 1 / 2 / 2 / 3; }
.castleEnterence { grid-area: 1 / 3 / 2 / 4; }
.soldier2 { grid-area: 1 / 4 / 2 / 5; }
.kiwiGuild { grid-area: 2 / 1 / 3 / 2; }
.toolDealerNPC { grid-area: 2 / 2 / 3 / 3; }
.weaponArmorDealerNPC { grid-area: 2 / 4 / 3 / 5; }
.headGearDealerNPC { grid-area: 2 / 5 / 3 / 6; }
.pronteraFountain { grid-area: 3 / 3 / 4 / 4; }
.chocolateGuild { grid-area: 4 / 1 / 5 / 2; }
.kafraEmployee { grid-area: 4 / 2 / 5 / 3; }
.questBoard { grid-area: 4 / 4 / 5 / 5; }
.lemonGuild { grid-area: 4 / 5 / 5 / 6; }
.PronteraWorldMap { grid-area: 5 / 3 / 6 / 4; }

@media (max-width: 1199px){

}

@media (max-width: 1023px){

}

@media (max-width: 767px){
  .PronteraMap{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    overflow-x: hidden;
    padding-top: 40px;
  }
  .toolDealerNPC,
  .weaponArmorDealerNPC,
  .PronteraWorldMap,
  .kafraEmployee,
  .pronteraFountain,
  .questBoard,
  .headGearDealerNPC,
  .soldier1,
  .soldier2,
  .castleEnterence,
  .kiwiGuild,
  .chocolateGuild,
  .lemonGuild{
    width:100%;
    min-height: 120px;
  }
  .pronteraFountainImg, 
  .weaponArmorDealerNPCImg{
    width:auto;
  }
}
@media (max-width: 467px){

}