.storyMapScreen{
  height: calc(75vh - 3rem);
}
.PronteraWeaponArmorDealerMap{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
}

.armorDealer{ grid-area: 1 / 2 / 2 / 3; }
.weaponDealer { grid-area: 1 / 4 / 2 / 5; }

