.storyScreen,
.storyChat{
  text-align: center;
}

.storyMapScreen{
  height: calc(75vh - 3rem);
  display: flex;
}

.storyChat{
  height: 25vh;
}

.StoryMapBackground{
  background-image: url('../img/Background/WorldMap.jpg');
  background-position: center;
  background-size: cover;
}

.Prontera::before{
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-image: url('../img/Background/Prontera.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: opacity 0.3s ease-in-out;
  border: solid #7CAFFF 1px;
}
.Prontera:hover::before{
  opacity: 1;
  background-image: url('../img/Background/Prontera.jpg');
  background-position: center;
  background-size: cover;
  transition: opacity 0.3s ease-in-out;
  border: 1px solid rgba(186,219,225,1);
  cursor: pointer;
}
.SogratDesertPoringIsland::before{
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-image: url('../img/Background/PoringIsland.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: opacity 0.3s ease-in-out;
  border: solid #7CAFFF 1px;
}
.SogratDesertPoringIsland:hover::before{
  opacity: 1;
  background-image: url('../img/Background/PoringIsland.jpg');
  background-position: center;
  background-size: cover;
  transition: opacity 0.3s ease-in-out;
  border: 1px solid rgba(186,219,225,1);
  cursor: pointer;
}

.StoryMap{
  width:80%;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  position: relative;
}

.StoryHUD{
  width:20%;
  border: 1px solid black;
}
.Prontera{ grid-area: 2 / 2 / 3 / 3; }
.SogratDesertPoringIsland{ grid-area: 3 / 2 / 4 / 3;}
.AntHell { grid-area: 2 / 1 / 3 / 2;}
.AntHellTest { grid-area: 2 / 3 / 3 / 4; } 

.Prontera,
.SogratDesertPoringIsland,
.AntHell,
.AntHellTest{
  position: relative;
  font-family: 'Pangolin', cursive;
  font-size: 20px;
  color: rgb(26, 26, 26);
  background: linear-gradient(135deg, rgba(220,220,220,1) 0%, rgb(144, 166, 212) 100%);
  border-radius: 5px;
  text-shadow: 2px 2px 4px #536481;
}

.SogratDesertPoringIsland{
  background: linear-gradient(135deg, rgba(220,220,220,1) 0%, rgb(149, 216, 210) 100%);
}

.mapTitle{
  font-size: 30px;
  font-family: 'Chelsea Market', cursive;
  color: black;
  -webkit-text-stroke: 0.8px white;
  stroke: 0.8px white;
  animation-name: fadeOutMapName;
  animation-duration: 3s;
  opacity: 0;
  position: absolute;
  top:0;
  left:50%;
  transform: translate3d(-50%,0,0);
}

@keyframes fadeOutMapName {
  0%{opacity: 0;}
  20%{opacity: 1;}
  80%{opacity: 1;}
  100%{opacity: 0;}
}

.altanEquipment,
.altanItems,
.altanStats,
.altanQuest{
  font-size: 20px;
  color: rgb(26, 26, 26);
  background: linear-gradient(135deg, rgba(220,220,220,1) 0%, rgb(153, 177, 229) 50%, rgb(173, 183, 206) 100%);
  border-radius: 5px;
  text-shadow: 2px 2px 4px #536481;
  width:50%;
  cursor: pointer;
  position: relative;
  font-family: 'Balsamiq Sans', cursive;
}

.altanEquipment:hover,
.altanItems:hover,
.altanStats:hover,
.altanQuest:hover{
  text-shadow: 1px 1px 1px #657c9c;
}

.altanEquipment::before,
.altanItems::before,
.altanStats::before,
.altanQuest::before{
  position: absolute;
  top: 50%;
  left: 5px;
  /* Change 0px */
  width: 100%;
  height: 0px;
  border-top: 7px solid transparent;  
  border-bottom: 7px solid transparent;
  border-left: 10px solid #764abc;
  content: '';
  transition: all 0.1s;
  transform: translate3d(0,-50%,0) scale3d(0,0,1);
  opacity: 0;
}

.altanEquipment:hover::before,
.altanItems:hover::before,
.altanStats:hover::before,
.altanQuest:hover::before{
  transform: translate3d(0,-50%,0) scale3d(1,1,1);
  opacity: 1;
}

.ReturnParent{
  position: relative;
  width:80%;
  border: 1px solid black;
}
.ReturnHUD{
  position:absolute;
  top: 0px;
  right: 0px;
  height: 40.5px;
  width: 40.5px;
  font-size: 20px;
  border-radius: 2px;
  background: rgb(226,236,250);
  background: -moz-linear-gradient(150deg, rgba(226,236,250,1) 0%, rgba(203,207,213,1) 27%, rgba(186,186,186,1) 79%, rgba(186,186,186,1) 100%);
  background: -webkit-linear-gradient(150deg, rgba(226,236,250,1) 0%, rgba(203,207,213,1) 27%, rgba(186,186,186,1) 79%, rgba(186,186,186,1) 100%);
  background: linear-gradient(150deg, rgba(226,236,250,1) 0%, rgba(203,207,213,1) 27%, rgba(186,186,186,1) 79%, rgba(186,186,186,1) 100%);
  cursor: pointer;
  z-index: 6;
}
.ReturnHUDBugFix{
  display: none;
}

@media (max-width: 1199px){

}

@media (max-width: 1023px){
  .altanEquipment,
  .altanItems,
  .altanStats,
  .altanQuest{
    font-size: 15px;
  }
  .altanEquipment::before,
  .altanItems::before,
  .altanStats::before,
  .altanQuest::before{
    left: 3px;
    border-top: 5px solid transparent;  
    border-bottom: 5px solid transparent;
    border-left: 7px solid #764abc;
  }
}

@media (max-width: 767px){
  .altanEquipment,
  .altanItems,
  .altanStats,
  .altanQuest{
    width:100%;
  }
  .altanEquipment::before,
  .altanItems::before,
  .altanStats::before,
  .altanQuest::before{
    left: 5px;
    border-top: 5px solid transparent;  
    border-bottom: 5px solid transparent;
    border-left: 7px solid #764abc;
  }
}
@media (max-width: 467px){
  .Prontera,
  .SogratDesertPoringIsland,
  .AntHell,
  .AntHellTest{
    font-size: 15px;
  }
  .altanEquipment,
  .altanItems,
  .altanStats,
  .altanQuest{
    font-size: 12px;
  }
  .altanEquipment::before,
  .altanItems::before,
  .altanStats::before,
  .altanQuest::before{
    left: 3px;
    border-top: 3px solid transparent;  
    border-bottom: 3px solid transparent;
    border-left: 5px solid #764abc;
  }
  .ReturnHUD{
    width:29px;
    height:29px;
  }
}