.storyScreen,
.storyChat{
  text-align: center;
}

.storyMapScreen{
  height: calc(75vh - 3rem);
  display: flex;
}

.storyChat{
  height: 25vh;
}

.StoryMap{
  width:80%;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

}

.StoryHUD{
  width:20%;
  border: 1px solid black;
}

.Prontera{ grid-area: 2 / 2 / 3 / 3; }
.PronteraSouth{ grid-area: 3 / 2 / 4 / 3; }