.storyScreen,
.storySpeech{
  text-align: center;
}

.storyMapScreen{
  height: calc(75vh - 3rem);
  display: flex;
}

.storyChat{
  height: 25vh;
}

.StoryMapBackground{
  background-image: url('../img/Background/WorldMap.jpg');
  background-position: center;
  background-size: cover;
}

.Prontera::before,
.SogratDesertPoringIsland::before,
.PayonCave::before,
.Geffen::before,
.FinalBoss::before,
.ChallengeTower::before{
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-image: url('../img/Background/Prontera.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: opacity 0.3s ease-in-out;
  border: solid #7CAFFF 1px;
}
.Prontera:hover::before,
.SogratDesertPoringIsland:hover::before,
.PayonCave:hover::before,
.Geffen:hover::before,
.FinalBoss:hover::before,
.ChallengeTower:hover::before{
  opacity: 1;
  background-image: url('../img/Background/Prontera.jpg');
  background-position: center;
  background-size: cover;
  transition: opacity 0.3s ease-in-out;
  border: 1px solid rgba(186,219,225,1);
  cursor: pointer;
}
.SogratDesertPoringIsland::before,
.SogratDesertPoringIsland:hover::before{
  background-image: url('../img/Background/PoringIsland.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.PayonCave::before,
.PayonCave:hover::before{
  background-image: url('../img/Background/PayonCave.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.Geffen::before,
.Geffen:hover::before{
  background-image: url('../img/Background/Geffen.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.FinalBoss::before,
.FinalBoss:hover::before{
  background-image: url('../img/Background/FinalBoss.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.ChallengeTower::before,
.ChallengeTower:hover::before{
  background-image: url('../img/Background/ChallengeTower.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.mapTitle{
  font-size: 30px;
  font-family: 'Chelsea Market', cursive;
  color: black;
  -webkit-text-stroke: 0.8px white;
  stroke: 0.8px white;
  display: none;
  position: absolute;
  top:0;
  left:50%;
  transform: translate3d(-50%,0,0);
  z-index: 999;
}
/* 
@keyframes fadeOutMapName {
  0%{opacity: 0; display:block;}
  20%{opacity: 1;}
  80%{opacity: 1;}
  100%{opacity: 0; display: none;}
} */

.StoryMap{
  width:80%;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  position: relative;
  overflow: auto;
  overflow-x: hidden;
}

.StoryHUD{
  width:20%;
  border: 1px solid black;
  overflow: auto;
  overflow-x: hidden;
}
.Prontera{ grid-area: 2 / 2 / 3 / 3; }
.SogratDesertPoringIsland{ grid-area: 3 / 2 / 4 / 3;}
.Geffen { grid-area: 2 / 1 / 3 / 2;}
.PayonCave { grid-area: 2 / 3 / 3 / 4; } 
.FinalBoss { grid-area: 1 / 2 / 2 / 3; }
.ChallengeTower { grid-area: 3 / 3 / 4 / 4; }


.Prontera,
.SogratDesertPoringIsland,
.Geffen,
.PayonCave,
.FinalBoss,
.ChallengeTower{
  position: relative;
  font-family: 'Pangolin', cursive;
  font-size: 20px;
  color: rgb(26, 26, 26);
  background: linear-gradient(135deg, rgba(220,220,220,1) 0%, rgb(144, 166, 212) 100%);
  border-radius: 5px;
  text-shadow: 2px 2px 4px #536481;
}

.SogratDesertPoringIsland{
  background: linear-gradient(135deg, rgba(220,220,220,1) 0%, rgb(149, 216, 210) 100%);
}
.PayonCave{
  background: linear-gradient(135deg, rgba(220,220,220,1) 0%, rgb(202, 144, 216) 100%);
}
.Geffen{
  background: linear-gradient(135deg, rgba(220,220,220,1) 0%, rgb(216, 211, 144) 100%);
}
.FinalBoss{
  background: linear-gradient(135deg, rgba(220,220,220,1) 0%, rgb(224, 131, 131) 100%);
}
.ChallengeTower{
  background: linear-gradient(135deg, rgba(220,220,220,1) 0%, rgb(224, 131, 208) 100%);
}

.altanEquipment,
.altanItems,
.altanStats,
.altanQuest,
.questBoardItems,
.kafraEmployeeHeal,
.fountainResetPoint,
.buyToolDealerButton,
.sellToolDealerButton,
.returnToolDealerButton,
.buyHeadGearDealerButton,
.sellHeadGearDealerButton,
.returnHeadGearDealerButton,
.buyWeaponDealerButton,
.sellWeaponDealerButton,
.returnWeaponDealerButton,
.buyArmorDealerButton,
.sellArmorDealerButton,
.returnArmorDealerButton,
.returnWeaponArmorDealerButton,
.guildInterest{
  font-size: 20px;
  color: rgb(26, 26, 26);
  background: linear-gradient(135deg, rgba(220,220,220,1) 0%, rgb(153, 177, 229) 50%, rgb(173, 183, 206) 100%);
  border-radius: 5px;
  text-shadow: 2px 2px 4px #536481;
  width:50%;
  cursor: pointer;
  position: relative;
  font-family: 'Balsamiq Sans', cursive;
}

.buyToolDealerButton,
.sellToolDealerButton,
.returnToolDealerButton{
  background: rgb(221,220,224);
  background: -moz-linear-gradient(59deg, rgba(221,220,224,1) 0%, rgba(157,212,182,1) 41%, rgba(123,235,168,1) 75%, rgba(99,252,160,1) 100%);
  background: -webkit-linear-gradient(59deg, rgba(221,220,224,1) 0%, rgba(157,212,182,1) 41%, rgba(123,235,168,1) 75%, rgba(99,252,160,1) 100%);
  background: linear-gradient(59deg, rgba(221,220,224,1) 0%, rgba(157,212,182,1) 41%, rgba(123,235,168,1) 75%, rgba(99,252,160,1) 100%);
  width:40%;
  margin: 10px;
}   
.buyHeadGearDealerButton,
.sellHeadGearDealerButton,
.returnHeadGearDealerButton{
  background: rgb(184,198,177);
  background: -moz-linear-gradient(278deg, rgba(184,198,177,1) 0%, rgba(168,211,147,1) 41%, rgba(153,223,117,1) 71%, rgba(141,233,93,1) 100%);
  background: -webkit-linear-gradient(278deg, rgba(184,198,177,1) 0%, rgba(168,211,147,1) 41%, rgba(153,223,117,1) 71%, rgba(141,233,93,1) 100%);
  background: linear-gradient(278deg, rgba(184,198,177,1) 0%, rgba(168,211,147,1) 41%, rgba(153,223,117,1) 71%, rgba(141,233,93,1) 100%);
  width:40%;
  margin: 10px;
}   

.buyWeaponDealerButton,
.sellWeaponDealerButton,
.returnWeaponDealerButton{
  background: rgb(187,172,196);
  background: -moz-linear-gradient(121deg, rgba(187,172,196,1) 0%, rgba(180,120,215,1) 41%, rgba(176,92,225,1) 71%, rgba(173,68,233,1) 100%);
  background: -webkit-linear-gradient(121deg, rgba(187,172,196,1) 0%, rgba(180,120,215,1) 41%, rgba(176,92,225,1) 71%, rgba(173,68,233,1) 100%);
  background: linear-gradient(121deg, rgba(187,172,196,1) 0%, rgba(180,120,215,1) 41%, rgba(176,92,225,1) 71%, rgba(173,68,233,1) 100%);
  width:40%;
  margin: 10px;
}
.buyArmorDealerButton,
.sellArmorDealerButton,
.returnArmorDealerButton{
  background: rgb(195,167,191);
  background: -moz-linear-gradient(76deg, rgba(195,167,191,1) 0%, rgba(209,130,198,1) 41%, rgba(226,87,206,1) 71%, rgba(233,68,210,1) 100%);
  background: -webkit-linear-gradient(76deg, rgba(195,167,191,1) 0%, rgba(209,130,198,1) 41%, rgba(226,87,206,1) 71%, rgba(233,68,210,1) 100%);
  background: linear-gradient(76deg, rgba(195,167,191,1) 0%, rgba(209,130,198,1) 41%, rgba(226,87,206,1) 71%, rgba(233,68,210,1) 100%);
  width:40%;
  margin: 10px;
}

.questBoardItems,
.kafraEmployeeHeal,
.fountainResetPoint,
.guildInterest,
.returnWeaponArmorDealerButton{
  width: 80%;
  margin: 10px 0 10px;
}

.altanEquipment:hover,
.altanItems:hover,
.altanStats:hover,
.altanQuest:hover,
.questBoardItems:hover,
.kafraEmployeeHeal:hover,
.fountainResetPoint:hover,
.buyToolDealerButton:hover,
.sellToolDealerButton:hover,
.returnToolDealerButton:hover,
.buyHeadGearDealerButton:hover,
.sellHeadGearDealerButton:hover,
.returnHeadGearDealerButton:hover,
.buyWeaponDealerButton:hover,
.sellWeaponDealerButton:hover,
.returnWeaponDealerButton:hover,
.buyArmorDealerButton:hover,
.sellArmorDealerButton:hover,
.returnArmorDealerButton:hover,
.returnWeaponArmorDealerButton:hover,
.guildInterest:hover{
  text-shadow: 1px 1px 1px #657c9c;
}

.altanEquipment::before,
.altanItems::before,
.altanStats::before,
.altanQuest::before,
.questBoardItems::before,
.kafraEmployeeHeal::before,
.fountainResetPoint::before,
.buyToolDealerButton::before,
.sellToolDealerButton::before,
.returnToolDealerButton::before,
.buyHeadGearDealerButton::before,
.sellHeadGearDealerButton::before,
.returnHeadGearDealerButton::before,
.buyWeaponDealerButton::before,
.sellWeaponDealerButton::before,
.returnWeaponDealerButton::before,
.buyArmorDealerButton::before,
.sellArmorDealerButton::before,
.returnArmorDealerButton::before,
.returnWeaponArmorDealerButton::before,
.guildInterest::before
{
  position: absolute;
  top: 50%;
  left: 5px;
  /* Change 0px */
  width: 100%;
  height: 0px;
  border-top: 7px solid transparent;  
  border-bottom: 7px solid transparent;
  border-left: 10px solid #764abc;
  content: '';
  transition: all 0.1s;
  transform: translate3d(0,-50%,0) scale3d(0,0,1);
  opacity: 0;
}

.altanEquipment:hover::before,
.altanItems:hover::before,
.altanStats:hover::before,
.altanQuest:hover::before,
.questBoardItems:hover::before,
.kafraEmployeeHeal:hover::before,
.fountainResetPoint:hover::before,
.buyToolDealerButton:hover::before,
.sellToolDealerButton:hover::before,
.returnToolDealerButton:hover::before,
.buyHeadGearDealerButton:hover::before,
.sellHeadGearDealerButton:hover::before,
.returnHeadGearDealerButton:hover::before,
.buyWeaponDealerButton:hover::before,
.sellWeaponDealerButton:hover::before,
.returnWeaponDealerButton:hover::before,
.buyArmorDealerButton:hover::before,
.sellArmorDealerButton:hover::before,
.returnArmorDealerButton:hover::before,
.returnWeaponArmorDealerButton:hover::before,
.guildInterest:hover::before{
  transform: translate3d(0,-50%,0) scale3d(1,1,1);
  opacity: 1;
}

.ReturnParent{
  position: relative;
  width:80%;
  border: 1px solid black;
}
.ReturnHUD{
  position:absolute;
  top: 0px;
  right: 0px;
  height: 40.5px;
  width: 40.5px;
  font-size: 20px;
  border-radius: 2px;
  background: rgb(226,236,250);
  background: -moz-linear-gradient(150deg, rgba(226,236,250,1) 0%, rgba(203,207,213,1) 27%, rgba(186,186,186,1) 79%, rgba(186,186,186,1) 100%);
  background: -webkit-linear-gradient(150deg, rgba(226,236,250,1) 0%, rgba(203,207,213,1) 27%, rgba(186,186,186,1) 79%, rgba(186,186,186,1) 100%);
  background: linear-gradient(150deg, rgba(226,236,250,1) 0%, rgba(203,207,213,1) 27%, rgba(186,186,186,1) 79%, rgba(186,186,186,1) 100%);
  cursor: pointer;
  z-index: 6;
}
.ReturnHUDBugFix{
  display: none;
}

.skillChatCenter{
  margin-top: 20px;
  text-align: center;
}
@media (max-width: 1199px){

}

@media (max-width: 1023px){
  .altanEquipment,
  .altanItems,
  .altanStats,
  .altanQuest{
    font-size: 15px;
  }
  .altanEquipment::before,
  .altanItems::before,
  .altanStats::before,
  .altanQuest::before{
    left: 3px;
    border-top: 5px solid transparent;  
    border-bottom: 5px solid transparent;
    border-left: 7px solid #764abc;
  }
}

@media (max-width: 767px){
  .altanEquipment,
  .altanItems,
  .altanStats,
  .altanQuest{
    width:100%;
    height:35px;
  }
  .altanEquipment::before,
  .altanItems::before,
  .altanStats::before,
  .altanQuest::before{
    left: 5px;
    border-top: 5px solid transparent;  
    border-bottom: 5px solid transparent;
    border-left: 7px solid #764abc;
  }
  .mapTitle{
    font-size: 23px;
  }
  .StoryMap{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    overflow-x: hidden;
    padding-top: 40px;
  }
  .ReturnHUD{
    width:29px;
    height:29px;
  }

  .Prontera,
  .SogratDesertPoringIsland,
  .Geffen,
  .PayonCave,
  .FinalBoss,
  .ChallengeTower{
    width:100%;
    min-height:50px;
    font-size: 15px;
  }
  .Prontera:active,
  .SogratDesertPoringIsland:active,
  .PayonCave:active,
  .Geffen:active,
  .FinalBoss:active,
  .ChallengeTower:active{
    height:100%;
    min-height: 250px;
    transition: 0.3s ease-in-out;
  }
}
@media (max-width: 467px){
  .altanEquipment,
  .altanItems,
  .altanStats,
  .altanQuest{
    font-size: 12px;
  }
  .altanEquipment::before,
  .altanItems::before,
  .altanStats::before,
  .altanQuest::before{
    left: 3px;
    border-top: 3px solid transparent;  
    border-bottom: 3px solid transparent;
    border-left: 5px solid #764abc;
  }
  .mapTitle{
    font-size: 18px;
  }

}