.storyScreenStoryLineOne,
.storySpeech{
  text-align: center;
}

.storyScreenStoryLineOne{
  height: calc(75vh - 3rem);
  line-height: 75vh;
  filter:grayscale(0.9);
}

.storyScreenStoryLineBackground{
  background-image: linear-gradient(black, black),url('../img/Background/Grass7.png');
  background-position: center;
  background-size: 75% 100%;
  background-blend-mode: saturation;
  background-size: cover;
}
/* StoryLineTwo */
.storyScreenStoryLineTwo{
  height: calc(75vh - 3rem);
  line-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.storyScreenStoryLineTwoBackground{
  background-image: url('../img/Background/Grass7.png');
  background-position: center;
  background-size: 75% 100%;
  background-size: cover;
}
.StoryImgTwoMonster{
  width: 40px;
}
.StoryImgTwoBossMonster{
  width: 60px;
}

.storyScreenStoryfadeOut{
  background-color: black;
  background-image:none;
}
.storyChat{
  height: 25vh;
}

.StoryImgFlip{
  transform: scaleX(-1);
}

.StoryImgMonster{
  width: 200px;
}
.StoryImgChar{
  width: 70px;
}
.StoryImgCharDead{
  width: 126px;
}

.StoryImgCharfadeOne{
  opacity: 0.5;
}
.StoryImgCharfadeTwo{
  opacity: 0;
}

.StoryButton{
  cursor: pointer;
  position: relative;
  text-decoration: none;
  font-size: 18px;
  color: rgb(26, 26, 26);
  font-family: 'Sniglet', cursive;
  background: linear-gradient(110deg, rgba(220,220,220,1) 0%, rgba(186,219,225,1) 100%);
  border: solid #7CAFFF 1px;
  border-radius: 5px;
  padding: 5px 20px 5px;
  text-shadow: 3px 3px 2px #536481;
  box-shadow: 6px 6px 7px rgb(47, 96, 110);
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

.StoryButton:hover{
  text-shadow: 1px 1px 1px #536481;
  box-shadow: 3px 3px 3px rgb(47, 96, 110);
}

.StoryButton::before,
.StoryButton::after{
  position: absolute;
  top: 50%;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  background-color: #764abc;
  content: '';
  transition: all 0.1s;
  transform: translate3d(0,-50%,0) rotate3d(0,0,1,-45deg) scale3d(0,0,1);
  opacity: 0;
  transform-origin: 50%;
}

.StoryButton:hover::before,
.StoryButton:hover::after{
  transform: translate3d(0,-50%,0) rotate3d(0,0,1,-45deg) scale3d(1,1,1);
  opacity: 1;
}
.StoryButton::before{
  left: 5px;
}
.StoryButton::after{
  right: 5px;
}

.storyCharacterOne{
  background-color: rgb(0,0,0);
  padding: 2px 20px 2px;
  border-radius: 3px;
  font-size: 20px;
  border: 2px solid rgb(77, 72, 72);
}

.storyChat{
  position: relative;
  border: 1px solid rgb(219, 221, 96);
}

.StoryButtonPositon{
  position: absolute;
  bottom: 7px;
  right:7px;
}

@media (max-width: 1199px){

}

@media (max-width: 1023px){

}

@media (max-width: 767px){

}
@media (max-width: 467px){
  .StoryImgMonster{
    width: 130px;
  }
  .StoryImgChar{
    width: 51px;
  }
  .StoryImgCharDead{
    width: 82px;
  }
}