html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

body,
h1,
h2,
h3,
p,
a,
fieldset,
button,
figcaption{
  margin: 0;
  padding: 0;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 100vh;
  font-family: 'Balsamiq Sans', cursive;
}

.pageFix{
  position: relative;
  min-height: 100vh;
}

.allWrapping{
  padding-bottom: 3rem;
}

.footerPosition{
  width: 100%;
  height: 3rem;
  position: absolute;
  bottom: 0;
  text-align: center;
}
/* setup */
.logoBackground{
  animation-name: fadeOut;
  animation-duration: 1.7s;
}
@keyframes fadeOut {
  0%,80%{background-color: black; opacity: 1;}
  100%{opacity: 0;}
}

.logoBox{
  text-align: center;
  height: calc(100vh - 3rem);
  line-height: calc(100vh - 3rem);
  position: relative;
}

.logoLine1,
.logoLine2,
.logoLine3,
.logoLine4{
  position: absolute;
  top: 0px;
  height: 300%;
  width: 2px;
  animation-name: fadeOutLine;
  animation-duration: 1.7s;
}
.logoLine1{
  left: calc(55vw + 30px);
}
.logoLine2{
  left: calc(55vw + 60px);
}
.logoLine3{
  left: calc(55vw + 64px);
}
.logoLine4{
  left: calc(55vw + 68px);
}
@keyframes fadeOutLine {
  0%,69%{background-color: black; opacity: 1;}
  70%{background-color: white; opacity: 1;}
  80%{background-color: black; opacity: 0.1;}
  100%{opacity: 0;}
}



.logoLetter1,
.logoLetter2,
.logoLetter3,
.logoLetter4,
.logoLetter5,
.logoLetter6,
.logoLetter7,
.logoLetter8,
.logoLetter9,
.logoLetter10{
  left:-1000px; 
  top: 4000px;
  font-size: 100px;
  font-family: 'Mochiy Pop One', sans-serif;
  position: relative;
  animation-name: fly;
  animation-duration: 5.8s;
}
.logoLetter2{
  animation-delay: 0.05s;
}
.logoLetter3{
  animation-delay: 0.1s;
}
.logoLetter4{
  animation-delay: 0.15s;
}
.logoLetter5{
  animation-delay: 0.2s;
}
.logoLetter6{
  animation-delay: 0.25s;
}
.logoLetter7{
  animation-delay: 0.3s;
}
.logoLetter8{
  animation-delay: 0.35s;
}
.logoLetter9{
  animation-delay: 0.4s;
}
.logoLetter10{
  animation-delay: 0.45s;
}

@keyframes fly {
  0%  {color:black; left:-1000px; top:4000px;}
  20% {color:black; left:-1000px; top:4000px;}
  39% {color:red; left: 40px; top: -40px}
  42% {color:orange; left: 40px; top: 0px}
  45% {color:yellow; left: 0px; top:0px}
  47.5% {color:green; left:0px; top:-30px}
  50% {color:cyan; left:0px; top:0px}
  52.5% {color:blue; left:0px; top:-15px}
  55% {color:violet; left:0px; top:0px}
  57.5% {color:#FFEF00; left:0px; top:-5px}
  60% {color:violet; left:0px; top:0px}
  100% {color:#FFEF00; left:0px; top:0px}
}


/* HUD */

.HUDBox{
  display: flex;
  align-items: center;
}

.BarBasicHUD{
	height: 10px;
  border: 1px solid black;
  background-color: #E2E9E3;
  border-radius: 12px;
  width: 130px;
}

.expBarBasicHUD{
  width: 90%;
  border-radius: 0px;
  margin: 0 5% 0;
}

.basicStatsHUD{
  background-color: #A6C1E4;
  border: 1px solid #6983A8;
}

.leveltextHUD{
  border-radius: 5px;
  margin: 10px 0 10px;
  padding: 3px 0 3px;
}

progress.BarBasicHUD::-webkit-progress-bar{
  background-color: #FEFEFF;
  border-radius: 12px;
}

.BarBasicHUD::-webkit-progress-value{
  background-color:#CBDAF9;
  border-radius: 12px;
  background: linear-gradient(145deg, #b7c4e0, #cce1ff);
  box-shadow:  10px 10px 80px #adb9d4,
             -10px -10px 60px #c2d4ed;
}
.BarBasicHUD::-moz-progress-bar{
  background-color:#CBDAF9;
  border-radius: 12px;
  background: linear-gradient(145deg, #b7c4e0, #cce1ff);
  box-shadow:  10px 10px 80px #adb9d4,
             -10px -10px 80px #c2d4ed;
}
.expBarBasicHUD::-webkit-progress-value{
  background-color:#6587BE;
  border-radius: 0px;
}
.expBarBasicHUD::-moz-progress-bar{
  background-color:#6587BE;
  border-radius: 0px;
}
.clockBarBasicHUD::-webkit-progress-value{
  border-radius: 5px;
}
.clockBarBasicHUD::-moz-progress-bar{
  border-radius: 5px;
}

.nameStatsHUD{
  font-size: 20px;
}
.destextHUD{
  margin: 0 10px 0;
}
.hptextHUD,
.sptextHUD,
.hpPerHUD,
.spPerHUD{
  margin: 0 5px 0;
}

.zenytextHUD{
  text-align: right;
  padding: 0 5px 0;
  border-bottom: 1px solid black;
}

.hptextHUD,
.sptextHUD{
  width: 21px;
}

/* Equipment Chat */
.altanEquipmentGearChatButton{
  font-size: 20px;
  color: rgb(26, 26, 26);
  background: linear-gradient(135deg, rgba(220,220,220,1) 0%, rgb(153, 177, 229) 50%, rgb(173, 183, 206) 100%);
  border-radius: 5px;
  text-shadow: 2px 2px 4px #536481;
  cursor: pointer;
  position: relative;
  font-family: 'Balsamiq Sans', cursive;
  width: 30%;
  margin: 5px;
}

.altanEquipmentGearChatButton:hover{
  text-shadow: 1px 1px 1px #657c9c;
}

.altanEquipmentGearChatButton::before{
  position: absolute;
  top: 50%;
  left: 5px;
  width: 100%;
  height: 0px;
  border-top: 7px solid transparent;  
  border-bottom: 7px solid transparent;
  border-left: 10px solid #764abc;
  content: '';
  transition: all 0.1s;
  transform: translate3d(0,-50%,0) scale3d(0,0,1);
  opacity: 0;
}

.altanEquipmentGearChatButton:hover::before{
  transform: translate3d(0,-50%,0) scale3d(1,1,1);
  opacity: 1;
}

.adjImgCenterBox{
  position: relative;
  width: 100%;
  height: 100%;
}

.adjImgCenter{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}


.chatDescriptTitle{
  padding: 10px 0 10px;
}





@media (max-width: 1199px){
  .BarBasicHUD{
    width: 100px;
  }
  .expBarBasicHUD{
    width: 80%;
  }
}

@media (max-width: 1023px){
  .BarBasicHUD{
    width: 50px;
  }
  .expBarBasicHUD{
    width: 80%;
  }
  /* title screen */
  .logoLetter1,
  .logoLetter2,
  .logoLetter3,
  .logoLetter4,
  .logoLetter5,
  .logoLetter6,
  .logoLetter7,
  .logoLetter8,
  .logoLetter9,
  .logoLetter10{
    font-size: 80px;
  }

}
@media (max-width: 767px){
  .hptextHUD,
  .sptextHUD,
  .hpPerHUD,
  .spPerHUD,
  .classTitle{
    display: none;
  }
  .BarBasicHUD{
    width: 70px;
    margin: 0 5px 5px;
  }
  .HUDBox{
    justify-content: center;
  }
  .leveltext{
    font-size: 14px;
  }
  .greenHP,
  .redHP,
  .yellowHP,
  .blueSP,
  .purpleHP{
    width: 85%;
  }
  /* title screen */
  .logoLetter1,
  .logoLetter2,
  .logoLetter3,
  .logoLetter4,
  .logoLetter5,
  .logoLetter6,
  .logoLetter7,
  .logoLetter8,
  .logoLetter9,
  .logoLetter10{
    font-size: 50px;
  }
}
@media (max-width: 467px){
  .BarBasicHUD{
    width: 50px;
  }
  .expBarBasicHUD{
    margin: 0;
  }
  .nameStatsHUD,
  .zenytextHUD{
    margin: 0;
    text-align: center;
  }
  .basicStatsHUD{
    font-size: 12px;
  }
  .leveltext{
    text-align: center;
  }
  /* title screen */
  .logoLetter1,
  .logoLetter2,
  .logoLetter3,
  .logoLetter4,
  .logoLetter5,
  .logoLetter6,
  .logoLetter7,
  .logoLetter8,
  .logoLetter9,
  .logoLetter10{
    font-size: 35px;
  }
  /* WEAPON */
  .altanEquipmentGearChatButton{
    width: 80%;
  }
}